@charset "UTF-8";
@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role=button] {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs, td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm, td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md, td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg, td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print, td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::selection {
  background-color: #03306B;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #1E1E1E;
}

nav.mainMenu {
  border-top: 1px solid #D4D4D4;
  margin-top: 20px;
}
nav.mainMenu ul {
  display: flex;
}
nav.mainMenu ul li {
  flex: auto;
}
nav.mainMenu ul li a {
  display: block;
  padding: 15px;
  color: #1E1E1E;
  font-size: 18px;
}

.btn {
  background-color: #03306B;
  display: block;
  padding: 10px 25px;
  color: #fff;
  border-radius: 4px;
  font-family: "Nunito Sans", sans-serif;
}
.btn:hover {
  color: #fff;
  background-color: #012657;
}
.btn:active {
  background-color: #3347B4;
}
.btn:focus {
  background-color: #0A3062;
}

.header {
  padding: 15px 0;
}
.header .h-row {
  display: flex;
}
.header .h-row div[class^=col-] {
  display: flex;
}
.header-wrap {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
}
.header .location-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.header .location-wrap .icon {
  display: inline-block;
  margin-right: 10px;
  height: 15px;
}
.header .location-wrap .icon svg {
  height: 100%;
}
.header .information-wrap {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
}
.header .information-wrap ul li {
  display: inline-block;
}
.header .information-wrap .link {
  margin-right: 15px;
}
.header .information-wrap .social {
  margin-left: 25px;
}
.header .information-wrap .social li {
  margin: 0 10px;
}
.header .auth-wrap {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}
.header .btn-login {
  display: block;
}
.header .btn-login .icon {
  display: inline-block;
  margin-right: 10px;
}

.main {
  margin-top: 30px;
}
.main .search-wrap {
  background-image: url("../img/bg-search.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  color: #fff;
  padding: 45px 45px 75px;
  border-radius: 15px;
}
.main .search-wrap h2 {
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
}
.main .search-wrap p {
  font-size: 24px;
}
.main .search-wrap .search-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}
.main .search-wrap .search-form .search-text {
  width: 77%;
  margin: 0 10px;
  padding: 5px;
  border: none;
  background-color: #F7F7FD;
}
.main .search-wrap .search-form .btn-search {
  display: inline-block;
  border: none;
  width: 20%;
}
.main .section {
  margin: 20px 0;
}
.main .section-title {
  font-size: 32px;
  font-weight: 400;
}
.main .section .title {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.main .section.category {
  margin: 50px 0;
}
.main .section.category .block-category {
  display: flex;
}
.main .section.category .block-category .block {
  width: calc(100% - 7px);
  text-align: center;
}
.main .section.category .block-category .block:last-child {
  margin-right: 0;
}
.main .section.category .block-category .block:first-child {
  margin-left: 0;
}
.main .section.category .block-category .block .color {
  padding: 15px;
  border-radius: 20px;
  margin: 0 5px;
  text-align: center;
  height: 140px;
}
.main .section.category .block-category .block .color a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .section.category .block-category .block .color img {
  margin-top: 25px;
}
.main .section.category .block-category .block .color.blue {
  background-color: #E0EDFF;
}
.main .section.category .block-category .block .color.green {
  background-color: #E6FFD0;
}
.main .section.category .block-category .block .color.orange {
  background-color: #FFE9C8;
}
.main .section.category .block-category .block .color.ping {
  background-color: #FED7FF;
}
.main .section.category .block-category .block .color.yellow {
  background-color: #FFF7DC;
}
.main .section.category .block-category .block .color.red {
  background-color: #FFECEC;
}
.main .section.category .block-category .block .color.purple {
  background-color: #B6C1FF;
}
.main .section .link-more {
  float: right;
}
.main .section .blocks-wrap {
  display: flex;
}
.main .section .blocks-wrap .block {
  flex: auto;
  border-radius: 16px;
  border: 1px solid #D4D4D4;
  overflow: hidden;
  margin: 0 5px;
}
.main .section .blocks-wrap .block .content {
  padding: 15px;
}
.main .section .blocks-wrap .block a {
  font-size: 18px;
  font-weight: 500;
}
.main .section .blocks-wrap .block .location {
  color: #A1A1A1;
  margin: 0 0 15px;
}
.main .section .blocks-wrap .block .location .icon {
  width: 15px;
}
.main .section .blocks-wrap .block .price {
  font-size: 20px;
  font-weight: 700;
  float: left;
}
.main .section .blocks-wrap .block .price .icon {
  width: 15px;
}
.main .section .blocks-wrap .block .icon {
  display: inline-block;
}
.main .section .blocks-wrap .block .raiting {
  float: right;
  display: flex;
}
.main .section .blocks-wrap .block .raiting .icon {
  margin-left: 5px;
}
.main .section .blocks-wrap .block .img {
  border-radius: 16px;
  overflow: hidden;
}
.main .section .blocks-wrap .block .img img {
  width: 100%;
  height: auto;
}
.main .section.reviews {
  margin-top: 55px;
}
.main .section.reviews .block {
  padding: 15px;
}
.main .section.reviews .block .name {
  font-size: 20px;
  font-weight: 500;
}
.main .section.reviews .block .raiting {
  background: #F4F4F4;
  border-radius: 8px;
  float: none;
  margin: 23px 0;
  padding: 5px;
  display: flex;
}
.main .section.reviews .block .raiting .icon {
  margin-left: 5px;
}
.main .section.reviews .block .desc {
  margin-bottom: 23px;
}
.main .section.reviews .block .user {
  float: left;
  font-size: 14px;
  color: #A1A1A1;
}
.main .section.reviews .block .user .icon {
  width: 15px;
}
.main .section.reviews .block .date {
  float: right;
  font-size: 14px;
  color: #A1A1A1;
}
.main .section.seo {
  text-align: center;
  margin-top: 45px;
}
.main .section.seo .title-s {
  color: #A1A1A1;
  font-size: 20px;
  margin-bottom: 0;
}
.main .section.seo .title-m {
  font-size: 32px;
  margin-top: 0;
}
.main .section.seo .text {
  text-align: left;
  margin-bottom: 50px;
}
.main .section.seo .blocks-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}
.main .section.seo .blocks-wrap .block {
  flex: calc(50% - 20px);
  padding: 15px;
  margin: 0 0 15px;
  border: none;
}
.main .section.seo .blocks-wrap .block .title {
  float: none;
  line-height: 1.2;
}
.main .section.seo .blocks-wrap .block .text {
  display: block;
}
.main .section.seo .blocks-wrap .block:nth-child(odd) {
  margin-right: 10px;
}
.main .section.seo .blocks-wrap .block:nth-child(even) {
  margin-left: 10px;
}
.main .section.seo .blocks-wrap .block.c-1 {
  background-color: #FFE2E2;
}
.main .section.seo .blocks-wrap .block.c-1 .title {
  color: #CE5353;
}
.main .section.seo .blocks-wrap .block.c-2 {
  background-color: #FBFFDF;
}
.main .section.seo .blocks-wrap .block.c-2 .title {
  color: #CE5353;
}
.main .section.seo .blocks-wrap .block.c-3 {
  background-color: #DBE3FF;
}
.main .section.seo .blocks-wrap .block.c-3 .title {
  color: #CE5353;
}
.main .section.seo .blocks-wrap .block.c-4 {
  background-color: #CEFFB7;
}
.main .section.blog {
  margin: 55px 0;
}
.main .section.blog .blocks-wrap .block {
  position: relative;
}
.main .section.blog .blocks-wrap .block .img-wrap {
  height: 200px;
  overflow: hidden;
}
.main .section.blog .blocks-wrap .block .img-wrap img {
  width: 100%;
}
.main .section.blog .blocks-wrap .block .date {
  padding: 15px 0 15px 15px;
}
.main .section.blog .blocks-wrap .block .link-more {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 15px;
  top: 40%;
  text-align: center;
}
.main .section.blog .blocks-wrap .title {
  float: none;
  padding: 0 15px 15px;
  line-height: 1.2;
}
.main .section.about .blocks-wrap {
  background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%);
  border-radius: 15px;
  padding: 45px;
}
.main .section.about .title {
  float: none;
  font-size: 32px;
  margin-top: 0;
}
.main .section.about .img-wrap {
  text-align: right;
  margin-left: 55px;
}

.category .search-wrap {
  background: none;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.category .search-wrap .search-filter .search-text {
  background-color: #F7F7FD;
}
.category .top-line {
  display: flex;
}
.category .top-line .sort-wrap {
  border-radius: 8px;
  border: 1px solid var(--Grey-50, #D4D4D4);
}
.category .category-wrap {
  margin-bottom: 100px;
}
.category .category-wrap .top-line {
  justify-content: space-between;
}
.category .category-wrap .top-line .search-result span {
  font-weight: 700;
}
.category .category-wrap .top-line .sort-wrap {
  justify-content: flex-end;
  padding: 5px 15px 5px 0;
}
.category .category-wrap .top-line .sort-wrap .icon {
  margin: 0 10px;
}
.category .category-wrap .blocks-wrap {
  margin: 30px 0;
}
.category .category-wrap .blocks-wrap .i-row {
  display: flex;
  margin: 10px 0;
}
.category .category-wrap .blocks-wrap .block {
  border-radius: 16px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 15px;
}
.category .category-wrap .blocks-wrap .block .img-wrap {
  margin-left: -15px;
}
.category .category-wrap .blocks-wrap .block .img-wrap img {
  width: 100%;
}
.category .category-wrap .blocks-wrap .block .name {
  font-size: 24px;
  font-weight: 700;
}
.category .category-wrap .blocks-wrap .block .favourite {
  position: absolute;
  top: 10px;
  right: 15px;
}
.category .category-wrap .blocks-wrap .block .content-wrap a.name:hover {
  text-decoration: none;
}
.category .category-wrap .blocks-wrap .block .raiting {
  background-color: #F4F4F4;
  border-radius: 4px;
  margin: 0 15px;
  padding: 3px 10px;
}
.category .category-wrap .blocks-wrap .block .reviews {
  font-weight: 700;
}
.category .category-wrap .blocks-wrap .block .price span {
  font-size: 24px;
  font-weight: 700;
}
.category .category-wrap .blocks-wrap .block .region {
  color: #A1A1A1;
  font-style: 16px;
}
.category .category-wrap .blocks-wrap .block .map-link {
  color: #A1A1A1;
  font-size: 16px;
  margin-left: 10px;
}
.category .category-wrap .blocks-wrap .block .props-list li {
  position: relative;
  padding-left: 15px;
  display: inline-block;
  color: #A1A1A1;
  font-size: 16px;
}
.category .category-wrap .blocks-wrap .block .props-list li::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #A1A1A1;
}
.category .category-wrap .blocks-wrap .block .right-wrap {
  border-left: 1px solid #E3E3E3;
  padding-left: 55px;
  margin: 15px 0;
}
.category .category-wrap .blocks-wrap .block .right-wrap .price {
  display: block;
  float: none;
}
.category .category-wrap .blocks-wrap .block .right-wrap .desc {
  display: block;
  color: #A1A1A1;
  margin-bottom: 15px;
}
.category .category-wrap .blocks-wrap .block .right-wrap .btn {
  display: inline-block;
}
.category .category-wrap .navigation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.category .category-wrap .navigation-wrap .prev {
  margin-right: 15px;
}
.category .category-wrap .navigation-wrap .next {
  margin-left: 15px;
}
.category .category-wrap .navigation-wrap a {
  padding: 5px 10px;
  border-radius: 4px;
}
.category .category-wrap .navigation-wrap a.active {
  background-color: #03306B;
  color: #fff;
}
.category .category-wrap .navigation-wrap a:hover {
  background-color: #A1A1A1;
  text-decoration: none;
  color: #000;
}

.filter-wrap {
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #D4D4D4;
}
.filter-wrap .filter-block {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E3E3E3;
}
.filter-wrap .filter-block .name {
  margin-bottom: 20px;
  font-size: 18px;
}
.filter-wrap .filter-block .control {
  margin-top: 10px;
  position: relative;
  padding-left: 30px;
}
.filter-wrap .filter-block .control:hover input ~ .label {
  background-color: #6e6e6e;
}
.filter-wrap .filter-block .control .label {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #A1A1A1;
}
.filter-wrap .filter-block .control .label::after {
  content: "";
  position: absolute;
  display: none;
}
.filter-wrap .filter-block .control input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.filter-wrap .filter-block .control input:checked ~ .label {
  background-color: #03306B;
}
.filter-wrap .filter-block .control input:checked ~ .label::after {
  display: block;
}
.filter-wrap .filter-block .control input:not([disabled]):checked ~ .filter-wrap .filter-block .control input {
  background-color: #03306B;
}
.filter-wrap .filter-block .check .label {
  border-radius: 8px;
}
.filter-wrap .filter-block .check .label::after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
.filter-wrap .filter-block .radio .label {
  border-radius: 50%;
}
.filter-wrap .filter-block .radio .label::after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.filter-wrap .filter-block label {
  font-size: 14px;
}

.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs li {
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  color: #A1A1A1;
}
.breadcrumbs li a {
  color: #03306B;
}

.detail ul.block {
  display: flex;
}
.detail ul.block li {
  flex: auto;
}
.detail .name-title {
  font-size: 32px;
  line-height: 1.2em;
  margin: 25px 0;
}
.detail .type-wrap .name {
  font-weight: 700;
  font-size: 20px;
}
.detail .type-wrap .location {
  color: #A1A1A1;
  font-size: 16px;
}
.detail .reviews-wrap {
  text-align: right;
}
.detail .reviews-wrap .block-r {
  display: inline-block;
}
.detail .reviews-wrap .reviews {
  font-weight: 700;
}
.detail .reviews-wrap .addcomment {
  font-size: 14px;
}
.detail .reviews-wrap .raiting {
  background-color: #03306B;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  vertical-align: top;
  margin-top: 5px;
}
.detail .gallery-wrap {
  margin: 30px 0;
}
.detail .gallery-wrap .items {
  display: grid;
  grid-template-columns: auto 20% 20%;
  grid-template-rows: auto;
  grid-gap: 30px 30px;
}
.detail .gallery-wrap .items .item {
  border-radius: 16px;
  min-height: 100px;
  overflow: hidden;
  background-color: #A1A1A1;
}
.detail .gallery-wrap .items .item img {
  width: 100%;
  height: auto;
}
.detail .gallery-wrap .items .item:nth-child(1) {
  grid-column: 1/span 1;
  grid-row: 1/span 6;
}
.detail .gallery-wrap .items .item:nth-child(2) {
  grid-row: 1/span 3;
}
.detail .gallery-wrap .items .item:nth-child(3) {
  grid-row: 4/span 3;
}
.detail .gallery-wrap .items .item:nth-child(4) {
  grid-column: 3;
  grid-row: 1/span 3;
}
.detail .gallery-wrap .items .item:nth-child(5) {
  grid-column: 3;
  grid-row: 4/span 3;
}
.detail .gallery-wrap .items .item:nth-child(6) {
  grid-column: 3;
  grid-row: 5/span 2;
}

.footer {
  margin-top: 100px;
}
.footer .footer-wrap {
  background-color: #464646;
  color: #fff;
  padding: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.footer .footer-wrap .logo-wrap {
  padding: 25px 0;
}
.footer .social-wrap .title {
  float: none;
  font-size: 24px;
  margin-bottom: 15px;
}
.footer .social li {
  display: inline-block;
}
.footer a {
  color: #fff;
}
.footer .zerone {
  margin-top: 55px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}/*# sourceMappingURL=main.css.map */