@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0 auto;
}

.box {
  width: 1218px;
  margin: auto;
}

.vertical,
.horizontal,
.center {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal-inline,
.center {
  align-items: center;
}

.center {
  justify-content: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::-moz-selection {
  background-color: #03306B;
  color: #FFF;
}

::selection {
  background-color: #03306B;
  color: #FFF;
}

img {
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  outline: none;
}

input {
  color: #1E1E1E;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #1E1E1E;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.bigtext {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.header {
  position: fixed;
  z-index: 2;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.header-wrap {
  padding: 13px 33px 21px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
}
.header-wrap__line {
  justify-content: space-between;
}
.header-wrap__line .text {
  font-size: 20px;
  font-weight: 400;
}
.header-logo {
  margin-right: 60px;
}
.header-logo__desktop, .header-logo__mobile {
  width: 100%;
}
.header-logo__desktop {
  display: block;
}
.header-logo__mobile {
  display: none;
}
.header-location {
  gap: 8px;
  width: 209px;
  height: 24px;
  margin-right: 120px;
  padding-bottom: 5px;
}
.header-location .icon {
  height: 24px;
  padding: 1px 2px;
}
.header-location .icon img {
  width: 100%;
  height: 100%;
}
.header-links {
  justify-content: space-between;
  width: 261px;
}
.header-links__social {
  gap: 24px;
}
.header-links__social .icon {
  height: 32px;
}
.header .button {
  width: 134px;
  margin-left: 25px;
}
.header-menu {
  gap: 16px;
  border-top: 1px solid #D4D4D4;
  margin-top: 19.5px;
  padding-top: 11.5px;
}
.header-menu .text {
  display: block;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  padding: 10px 8px;
}

.footer-wrap {
  display: grid;
  grid-gap: 36px;
  padding: 49px 106px 54px 104px;
  border-radius: 16px 16px 0px 0px;
  background-color: #464646;
}
.footer-wrap__line {
  gap: 53px;
}
.footer-wrap__line .text {
  color: #FFF;
}
.footer-menu {
  gap: 8px;
  width: 259px;
}
.footer-menu .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.footer-links .social .text {
  font-weight: 500;
}
.footer-links .social-icons {
  gap: 24px;
  margin-top: 16px;
}
.footer-links .zerone {
  gap: 25px;
  margin-top: 80px;
}

.main {
  padding-top: 183px;
}

.modal {
  display: none;
}
.modal.show {
  display: block;
}
.modal-background, .modal-wrap {
  position: fixed;
}
.modal-background {
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-wrap {
  z-index: 4;
  top: 50%;
  left: 50%;
  gap: 29px;
  width: 754px;
  transform: translate(-50%, -50%);
  padding: 35px 40px 35.51px;
  border-radius: 16px;
  background-color: #FFF;
}
.modal-wrap .btn {
  position: absolute;
  top: 10.5px;
  right: 9.5px;
}
.modal-name {
  line-height: 36px;
}
.modal-galery {
  justify-content: space-between;
  height: 125.49px;
}
.modal-galery__image {
  width: 212px;
  height: 100%;
  border-radius: 10.141px;
}
.modal-button {
  gap: 8px;
}
.modal-button__text {
  line-height: 24px;
}
.modal-info {
  gap: 23px;
}
.modal-info__text {
  font-size: 18px;
  line-height: 22px;
}
.modal-info__bottom {
  justify-content: space-between;
}

.home {
  margin: 81px 0 143px;
}
.home-wrap {
  gap: 100px;
}
.home-wrap .hero,
.home-wrap .about {
  border-radius: 16px;
}
.home-wrap .hero {
  position: relative;
  height: 475px;
  overflow: hidden;
}
.home-wrap .hero-image {
  width: 100%;
  height: 100%;
  -o-object-position: 100% 64.5%;
     object-position: 100% 64.5%;
}
.home-wrap .hero-content {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 47px 75px 89px;
}
.home-wrap .hero-content__description {
  width: 46.161%;
  margin-bottom: 63px;
}
.home-wrap .hero-content__description .title,
.home-wrap .hero-content__description .text {
  color: #FFF;
  -webkit-line-clamp: 2;
}
.home-wrap .hero-content__description .title {
  line-height: 58px;
  margin-bottom: 30px;
}
.home-wrap .hero-content__description .text {
  font-size: 24px;
  line-height: 29px;
}
.home-wrap .hero-content .search-text {
  width: calc(100% - 229px);
}
.home-wrap .category-wrap,
.home-wrap .popular-wrap,
.home-wrap .blogs-wrap {
  margin-top: 40px;
}
.home-wrap .category-wrap {
  gap: 39px;
}
.home-wrap .category-block {
  min-width: 140px;
}
.home-wrap .category-block__icon {
  width: 100%;
  height: 140px;
  border-radius: 20px;
}
.home-wrap .category-block__icon.blue {
  background-color: #E0EDFF;
}
.home-wrap .category-block__icon.green {
  background-color: #E6FFD0;
}
.home-wrap .category-block__icon.orange {
  background-color: #FFE9C8;
}
.home-wrap .category-block__icon.ping {
  background-color: #FED7FF;
}
.home-wrap .category-block__icon.yellow {
  background-color: #FFF7DC;
}
.home-wrap .category-block__icon.red {
  background-color: #FFECEC;
}
.home-wrap .category-block__icon.purple {
  background-color: #B6C1FF;
}
.home-wrap .category-block__text {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}
.home-wrap .popular-header,
.home-wrap .blogs-header {
  justify-content: space-between;
}
.home-wrap .popular-wrap {
  gap: 50px;
  width: inherit;
}
.home-wrap .popular-wrap__line {
  width: inherit;
}
.home-wrap .popular-header {
  margin-bottom: 12px;
}
.home-wrap .popular-header .icon {
  height: 13px;
  margin: 15px 22.5px;
}
.home-wrap .seo-subtitle, .home-wrap .seo-title {
  text-align: center;
}
.home-wrap .seo-subtitle, .home-wrap .seo-text {
  font-size: 20px;
}
.home-wrap .seo-subtitle {
  margin-bottom: 12px;
  color: #A1A1A1;
  line-height: 28px;
}
.home-wrap .seo-title {
  line-height: 45px;
}
.home-wrap .seo-text {
  line-height: 24px;
}
.home-wrap .seo-text, .home-wrap .seo-wrap {
  margin-top: 50px;
}
.home-wrap .seo-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.home-wrap .seo-box {
  width: calc(50% - 14px);
  min-height: 234px;
  padding: 24px 32px 17px 30px;
  border-radius: 16px;
}
.home-wrap .seo-box .title {
  width: 66.667%;
  text-align: center;
  line-height: 34px;
  margin: 0 auto 15px;
}
.home-wrap .seo-box .text {
  line-height: 19px;
}
.home-wrap .seo-box.red {
  background-color: #FFE2E2;
}
.home-wrap .seo-box.red .title {
  color: #CE5353;
}
.home-wrap .seo-box.yellow {
  background-color: #FBFFDF;
}
.home-wrap .seo-box.yellow .title {
  color: #F90;
}
.home-wrap .seo-box.blue {
  background-color: #DBE3FF;
}
.home-wrap .seo-box.blue .title {
  color: #3561FD;
}
.home-wrap .seo-box.green {
  background-color: #CEFFB7;
}
.home-wrap .seo-box.green .title {
  color: #319900;
}
.home-wrap .blogs .btn {
  gap: 8px;
}
.home-wrap .blogs .btn-text {
  font-size: 20px;
}
.home-wrap .blogs-wrap {
  gap: 30px;
}
.home-wrap .about {
  height: 493px;
  overflow: hidden;
}
.home-wrap .about-wrap {
  justify-content: space-between;
  background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%);
  padding: 55px;
}
.home-wrap .about-info {
  gap: 35px;
}
.home-wrap .about-info__title {
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 1px;
}
.home-wrap .about-info__text {
  width: 76%;
  line-height: 22px;
}
.home-wrap .about-info__text:last-child {
  width: 63%;
}
.home-wrap .about-image {
  width: 383px;
  border-radius: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: auto;
  height: 48px;
  border-radius: 4px;
  background-color: #03306B;
  cursor: pointer;
}
.button-text {
  font-family: "Nunito Sans", sans-serif;
  color: #FFF;
}
.button:hover {
  background-color: #012657;
}
.button:active {
  background-color: #3347B4;
}
.button.disabled {
  background-color: #F1F0ED;
}
.button.disabled .button-text {
  color: #BFBEBC;
}
.button:focus {
  background-color: #0A3062;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background-color: #FFF;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.search-icon {
  position: absolute;
  left: 28px;
}
.search-text {
  width: -webkit-fill-available;
  height: 100%;
  padding: 16px 20px 16px 54px;
  background-color: #F7F7FD;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}
.search-text::-moz-placeholder {
  color: #A1A1A1;
}
.search-text::placeholder {
  color: #A1A1A1;
}
.search .button {
  width: 221px;
}
.search .button-text {
  font-size: 20px;
}

.location {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 19px;
}
.location-text {
  -webkit-line-clamp: 1;
  color: #A1A1A1;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  width: -moz-max-content;
  width: max-content;
  height: 32px;
  padding: 4px;
  border-radius: 8px;
  background-color: #F4F4F4;
}
.rating-text {
  -webkit-line-clamp: 1;
  color: #656565;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}
.author-text {
  line-height: 19px;
  -webkit-line-clamp: 1;
  color: #A1A1A1;
}

.date {
  display: flex;
  align-items: center;
  gap: 8px;
}
.date-text, .date-dot {
  line-height: 19px;
}
.date-text {
  color: #A1A1A1;
}
.date-dot {
  font-weight: 300;
  color: #D4D4D4;
}

.card {
  min-width: 282px;
  height: 286px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
}
.card_list {
  gap: 30px;
}
.card-image {
  width: 100%;
  height: 158px;
  border-radius: 16px;
  overflow: hidden;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 126px;
  padding: 17px 11px 2px 7px;
}
.card-content__top {
  display: grid;
  grid-gap: 9px;
}
.card-content__top .title {
  line-height: 22px;
  -webkit-line-clamp: 1;
}
.card-content__bottom {
  justify-content: space-between;
}
.card-content__bottom .price {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 36px;
}
.card-content__bottom .rating {
  background-color: transparent;
}

.review {
  position: relative;
  display: grid;
  grid-gap: 23px;
  min-width: 386px;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  padding: 15px;
}
.review-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.review-title {
  line-height: 36px;
  font-weight: 500;
  -webkit-line-clamp: 1;
}
.review-text {
  font-size: 18px;
  line-height: 22px;
  -webkit-line-clamp: 4;
}
.review-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog {
  position: relative;
  min-width: 386px;
}
.blog-image {
  width: 100%;
  height: 197px;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  height: 100%;
}
.blog-info {
  height: 143px;
  border-right: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-radius: 0px 0px 16px 16px;
  padding: 20px 15px 19px;
}
.blog-info__date {
  color: #A1A1A1;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 12px;
}
.blog-info__title {
  font-weight: 600;
  line-height: 24px;
  -webkit-line-clamp: 3;
}
.blog-button {
  position: absolute;
  top: 40.93618%;
  right: 5.4423%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFF;
}

.reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-header__buttons {
  display: flex;
  gap: 8px;
}
.reviews-header__buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 43px;
  border-radius: 8px;
  background-color: #ECECEC;
}
.reviews-header__buttons .btn:first-child {
  transform: rotate(180deg);
}
.reviews-wrap {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.main.hostels {
  margin: 60px 0 176px;
}
.main.hostels .image {
  width: 100%;
  height: 426px;
  border-radius: 16px;
  margin: 46px 0 32px;
}
.main.hostels .galery {
  gap: 16px;
  margin-bottom: 40px;
}
.main.hostels .galery-image {
  width: 88px;
  height: 72px;
  border-radius: 16px;
}
.main.hostels .content {
  gap: 33px;
}
.main.hostels .content .left {
  border-top: 1px solid #D4D4D4;
  padding-top: 39px;
}
.main.hostels .content .left .title {
  gap: 15px;
}
.main.hostels .content .left .includes {
  gap: 22px;
  margin: 24px 0 40px;
}
.main.hostels .content .left .includes-item {
  gap: 8px;
}
.main.hostels .content .left .text {
  font-size: 18px;
}
.main.hostels .content .left .special {
  list-style-type: disc;
  margin-left: 16px;
}
.main.hostels .content .right {
  min-width: 175px;
}
.main.hostels .content .right .price-description {
  text-align: right;
}
.main.hostels .content .right .button {
  margin-top: 26px;
  margin-left: auto;
}
.main.filter {
  margin: 38px 0 94px;
}
.main.filter .content {
  justify-content: space-between;
  margin-top: 33px;
}
.main.filter .content-left {
  width: 14.6875vw;
}
.main.filter .content-left .filter {
  border: 1px solid #D4D4D4;
  border-radius: 16px;
  padding: 16px 0.83333vw;
}
.main.filter .content-left .filter-title {
  font-weight: 600;
  line-height: 36px;
}
.main.filter .content-left .filter-content {
  margin-top: 23.5px;
  padding-top: 23.5px;
  border-top: 1px solid #A1A1A1;
}
.main.filter .content-left .filter-content .title {
  font-size: 18px;
  line-height: 22px;
}
.main.filter .content-left .filter-content .subtitle {
  line-height: 19.2px;
  color: #A1A1A1;
  margin-top: 8px;
}
.main.filter .content-left .filter-content.non {
  border-top: none;
  margin-top: 32px;
  padding-top: 0;
}
.main.filter .content-left .filter-content .price {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.main.filter .content-left .filter-content .price-field {
  padding: 46px 0 30px;
}
.main.filter .content-left .filter-content .price-range {
  gap: 0.52083vw;
}
.main.filter .content-left .filter-content .price-range__input {
  position: relative;
  width: 6.25vw;
}
.main.filter .content-left .filter-content .price-range__input input,
.main.filter .content-left .filter-content .price-range__input p {
  font-size: 18px;
}
.main.filter .content-left .filter-content .price-range__input input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #A1A1A1;
  padding: 8px 0.52083vw 8px 1.875vw;
}
.main.filter .content-left .filter-content .price-range__input p {
  position: absolute;
  top: 50%;
  left: 0.52083vw;
  transform: translate(0%, -50%);
  color: #BFBEBC;
}
.main.filter .content-left .filter-content .price input[type=range] {
  position: absolute;
  width: 100%;
  height: 2px;
  border: 1px solid #EDEDED;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
}
.main.filter .content-left .filter-content .price input[type=range]::-webkit-slider-thumb {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #03306B;
  cursor: pointer;
  z-index: 3;
}
.main.filter .content-left .filter-content .filter_ch {
  display: grid;
  grid-gap: 12px;
  margin-top: 20px;
}
.main.filter .content-left .filter-content .filter_ch-item {
  justify-content: space-between;
}
.main.filter .content-left .filter-content .filter_ch-item__field {
  gap: 0.625vw;
}
.main.filter .content-left .filter-content .filter_ch-item__field .input {
  width: 24px;
  height: 24px;
  accent-color: #03306B;
}
.main.filter .content-left .filter-content .filter_ch-item__field .text {
  font-size: 15px;
  font-weight: 500;
}
.main.filter .content-left .filter .button {
  margin-top: 32px;
}
.main.filter .content-right {
  width: 47.1875vw;
}
.main.filter .content-right__header {
  justify-content: space-between;
  margin-bottom: 32px;
}
.main.filter .content-right__header .search_result {
  gap: 0.26042vw;
}
.main.filter .content-right__header .sorting {
  gap: 0.4166667vw;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D4D4D4;
  padding: 4px 0.52083vw;
}
.main.filter .content-right__body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.main.filter .content-right__body .cardd {
  gap: 1.25vw;
  height: 225px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}
.main.filter .content-right__body .cardd-image {
  width: 11.71875vw;
  border-radius: 16px;
}
.main.filter .content-right__body .cardd-info, .main.filter .content-right__body .cardd-action {
  margin: 12.5px 0;
}
.main.filter .content-right__body .cardd-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 21.7709vw;
}
.main.filter .content-right__body .cardd-info__header {
  justify-content: space-between;
}
.main.filter .content-right__body .cardd-info__header .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}
.main.filter .content-right__body .cardd-info__locations {
  gap: 0.83333vw;
}
.main.filter .content-right__body .cardd-info__locations .text {
  color: #A1A1A1;
}
.main.filter .content-right__body .cardd-info__locations .btn {
  text-decoration: underline;
}
.main.filter .content-right__body .cardd-info__reviews {
  gap: 0.4166667vw;
}
.main.filter .content-right__body .cardd-info__reviews .text {
  font-size: 18px;
}
.main.filter .content-right__body .cardd-info__reviews .text2 {
  font-weight: 600;
}
.main.filter .content-right__body .cardd-info__features {
  flex-wrap: wrap;
  gap: 4px 0.4166667vw;
}
.main.filter .content-right__body .cardd-info__features .text {
  color: #A1A1A1;
}
.main.filter .content-right__body .cardd-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10.3646vw;
  padding-left: 3.38542vw;
  margin-right: 0.83333vw;
  border-left: 1px solid #E3E3E3;
}
.main.filter .content-right__pagination {
  gap: 0.8333vw;
  margin-top: 46px;
  height: 24px;
}
.main.filter .content-right__pagination .icon,
.main.filter .content-right__pagination .pagination {
  height: 100%;
}
.main.filter .content-right__pagination .icon,
.main.filter .content-right__pagination .pagination-element {
  width: 24px;
}
.main.filter .content-right__pagination .pagination-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
}
.main.filter .content-right__pagination .pagination-element.active {
  background-color: #03306B;
}
.main.filter .content-right__pagination .pagination-element.active .text {
  color: #FFF;
}
.main.filter .info {
  display: grid;
  grid-gap: 32px;
  margin-top: 112px;
}
.main.filter .info-title {
  font-size: 39px;
  color: #1E1E1E;
}
.main.filter .info-text {
  font-size: 24px;
}
.main.filter .info-list {
  list-style: disc;
  margin-top: -32px;
  padding-left: 0.75vw;
}
.main.detail {
  margin: 60px 0 150px;
}
.main.detail .head {
  display: grid;
  grid-gap: 24px;
  margin: 32px 0;
}
.main.detail .head-top {
  gap: 55px;
}
.main.detail .head-top .title {
  line-height: 39px;
}
.main.detail .head-top .block {
  gap: 35px;
  height: 24px;
}
.main.detail .head-top .block-icon {
  gap: 12px;
}
.main.detail .head-bottom {
  justify-content: space-between;
}
.main.detail .head-bottom .type-name {
  font-size: 20px;
  font-weight: 600;
  color: #03306B;
  margin-bottom: 4px;
}
.main.detail .head-bottom .reviews-title {
  font-weight: 600;
}
.main.detail .head-bottom .reviews-text {
  font-size: 14px;
}
.main.detail .head-bottom .reviews-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  border-radius: 8px;
  background-color: #03306B;
  margin-left: 0.625vw;
}
.main.detail .head-bottom .reviews-rating__text {
  color: #FFF;
}
.main.detail .galery {
  gap: 1.5625vw;
}
.main.detail .galery-main, .main.detail .galery-secondary {
  width: 30.9375vw;
}
.main.detail .galery-main {
  height: 426px;
}
.main.detail .galery-secondary {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px 1.5625vw;
}
.main.detail .galery-secondary .frame {
  width: 14.6875vw;
  height: 198px;
}
.main.detail .galery-main,
.main.detail .galery .frame {
  border-radius: 16px;
  overflow: hidden;
}
.main.detail .galery-main img,
.main.detail .galery .frame img {
  width: 100%;
  height: 100%;
}
.main.detail .info {
  justify-content: space-between;
  margin-top: 65px;
}
.main.detail .info-left {
  display: grid;
  grid-gap: 80px;
  width: 47.1875vw;
}
.main.detail .info-left .description-title,
.main.detail .info-left .variant-title {
  margin-bottom: 24px;
}
.main.detail .info-left .useful-title {
  margin-bottom: 40px;
}
.main.detail .info-left .useful-content {
  justify-content: space-between;
}
.main.detail .info-left .useful-content .block {
  display: grid;
  grid-gap: 20px;
  width: 23.64584vw;
  border-radius: 16px;
  background: #EEE;
  padding: 24px 1.25vw;
}
.main.detail .info-left .useful-content .block:last-child {
  width: 21.97917vw;
}
.main.detail .info-left .variant-content {
  display: grid;
  grid-gap: 24px;
}
.main.detail .info-left .variant-content .cardd {
  gap: 1.5625vw;
  height: 318px;
  border: 1px solid #F4F4F4;
  border-radius: 16px;
  padding: 16px 0.83333vw;
}
.main.detail .info-left .variant-content .cardd-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14.6875vw;
}
.main.detail .info-left .variant-content .cardd-carousel .image {
  border-radius: 16px;
}
.main.detail .info-left .variant-content .cardd-carousel .main_image,
.main.detail .info-left .variant-content .cardd-carousel .mini_images {
  width: 100%;
}
.main.detail .info-left .variant-content .cardd-carousel .main_image {
  position: relative;
  height: 198px;
}
.main.detail .info-left .variant-content .cardd-carousel .main_image .image {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
}
.main.detail .info-left .variant-content .cardd-carousel .main_image .image.active {
  opacity: 1;
}
.main.detail .info-left .variant-content .cardd-carousel .mini_images {
  overflow: hidden;
}
.main.detail .info-left .variant-content .cardd-carousel .mini_images .carousel-list {
  gap: 9px;
  transition: all 0.3s;
}
.main.detail .info-left .variant-content .cardd-carousel .mini_images .image {
  width: 88px;
  height: 72px;
}
.main.detail .info-left .variant-content .cardd-content {
  width: 29.27083vw;
}
.main.detail .info-left .variant-content .cardd-content .title {
  font-weight: 600;
  margin-bottom: 20px;
}
.main.detail .info-left .variant-content .cardd-content .list {
  gap: 1.14583vw;
}
.main.detail .info-left .variant-content .cardd-content .bottom {
  justify-content: space-between;
  border-top: 1px solid #D4D4D4;
  margin-top: 39.5px;
  padding-top: 39.5px;
}
.main.detail .info-left .variant-content .cardd-content .bottom-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main.detail .info-left .variant-content .cardd-content .bottom-left .text {
  font-size: 18px;
  font-weight: 600;
}
.main.detail .info-left .variant-content .cardd-content .bottom-left .btn {
  color: #03306B;
  text-decoration: underline;
}
.main.detail .info-left .variant-content .cardd-content .bottom-right .button {
  margin-top: 26px;
}
.main.detail .info-right {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 14.6875vw;
}
.main.detail .info-right .title {
  line-height: 24px;
}
.main.detail .info-right .text {
  line-height: 19px;
}
.main.detail .info-right .advantages,
.main.detail .info-right .contacts {
  background-color: #F0F0F0;
  border-radius: 16px;
}
.main.detail .info-right .advantages {
  padding: 20px 1.04167vw 19px;
}
.main.detail .info-right .advantages .col {
  display: grid;
  grid-gap: 8px;
}
.main.detail .info-right .advantages .col .big {
  gap: 0.104167vw;
  margin-top: 16px;
}
.main.detail .info-right .advantages .col .small {
  gap: 0.4166667vw;
}
.main.detail .info-right .advantages .button {
  margin-top: 20px;
}
.main.detail .info-right .locations {
  position: relative;
  display: grid;
  grid-gap: 17px;
}
.main.detail .info-right .locations-map {
  width: 100%;
  height: 387px;
}
.main.detail .info-right .locations-popup {
  position: absolute;
  bottom: 20%;
  left: 10.33%;
  width: 7.70833vw;
  height: 74px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 0.52083vw;
}
.main.detail .info-right .locations-popup .name {
  font-weight: 600;
  margin-bottom: 11px;
}
.main.detail .info-right .locations-popup .horizontal {
  justify-content: space-between;
}
.main.detail .info-right .locations-popup .horizontal .rating {
  width: 1.71875vw;
  height: 28px;
  background-color: #03306B;
  padding: 2px 0.3125vw;
}
.main.detail .info-right .locations-popup .horizontal .rating-text {
  color: #FFF;
}
.main.detail .info-right .locations-popup .horizontal .revieww {
  font-size: 14px;
  gap: 0.104167vw;
}
.main.detail .info-right .locations-popup .horizontal .revieww span {
  font-weight: 600;
}
.main.detail .info-right .contacts {
  display: grid;
  grid-gap: 16px;
  padding: 20px 1.04167vw 46px;
}
.main.detail .info-right .contacts .title {
  font-weight: 500;
}
.main.detail .info-right .contacts .text span {
  font-weight: 700;
}
.main.detail .info .reviews,
.main.detail .info .popular {
  margin-top: 80px;
}
.main.detail .popular-content__body {
  margin-top: 24px;
}

.breadcrumbs {
  gap: 0.52083vw;
  margin-bottom: 32px;
}
.breadcrumbs-item {
  gap: 10px;
}
.breadcrumbs-item .text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8A8894;
}
.breadcrumbs-item:last-child .text {
  color: #03306B;
}

.price {
  gap: 5px;
  justify-content: end;
}
.price-text {
  font-weight: 700;
  line-height: 29px;
}
.price-description {
  color: #A1A1A1;
  line-height: 19px;
}

.interestings {
  margin: 60px 0 188px;
}
.interestings .content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 1.5625vw;
}

.interestingsdetail {
  margin: 60px 0 150px;
}
.interestingsdetail-header {
  gap: 2.760417vw;
}
.interestingsdetail-content__image {
  width: 100%;
  height: 411px;
  border-radius: 16px;
  margin: 32px 0;
}
.interestingsdetail-content__description .text {
  font-size: 24px;
}
.interestingsdetail .popular {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

.action {
  gap: 35px;
  height: 24px;
}
.action-icon {
  gap: 12px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1440px) {
  .box {
    width: 906px;
  }
  .header-wrap {
    padding-right: 25px;
    padding-left: 25px;
  }
  .header-logo {
    width: 190px;
    margin-right: 45px;
  }
  .header-location {
    width: 156px;
    margin-right: 90px;
  }
  .header-links {
    width: 212px;
  }
  .header-links__social {
    gap: 18px;
  }
  .header .button {
    width: 100px;
    margin-left: 19px;
  }
  .footer-wrap {
    padding-right: 80px;
    padding-left: 78px;
  }
  .footer-wrap__line {
    gap: 33px;
  }
  .footer-menu {
    width: 194px;
  }
  .footer-links {
    width: 294px;
  }
  .home-wrap .hero-content {
    padding-left: 56px;
    padding-right: 56px;
  }
  .home-wrap .hero-content .search-text {
    width: calc(100% - 174px);
  }
  .home-wrap .category-wrap {
    gap: 29px;
  }
  .home-wrap .popular-wrap {
    gap: 37px;
  }
  .home-wrap .seo-wrap {
    gap: 21px;
  }
  .home-wrap .seo-box {
    width: calc(50% - 10.5px);
    padding: 24px 24px 17px 22px;
  }
  .home-wrap .blogs-wrap {
    gap: 22px;
  }
  .home-wrap .about-wrap {
    padding: 41px;
  }
  .home-wrap .about-info {
    gap: 26px;
  }
  .search-text {
    padding: 12px 20px 12px 54px;
  }
  .search .button {
    width: 166px;
  }
  .card_list {
    gap: 22px;
  }
  .reviews-wrap {
    gap: 22px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  .box {
    width: 629px;
  }
  .header {
    top: 0;
  }
  .header-wrap {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header-wrap .text {
    font-size: 18px;
  }
  .header-logo {
    width: -moz-max-content;
    width: max-content;
    margin-right: 32px;
  }
  .header-logo__desktop {
    display: none;
  }
  .header-logo__mobile {
    display: block;
  }
  .header-location {
    width: 108px;
    height: 19px;
    margin-right: 62px;
  }
  .header-location .icon {
    width: 16px;
    height: 16px;
    padding: 1.33px 2px;
  }
  .header-links {
    width: 206px;
  }
  .header-links__social {
    gap: 12px;
  }
  .header .button {
    width: 80px;
    height: 44px;
    margin-left: auto;
  }
  .header .button-text {
    display: none;
  }
  .header-menu {
    gap: 8px;
    padding-top: 8.5px;
  }
  .header-menu .text {
    line-height: 19px;
  }
  .footer-wrap {
    padding-right: 55px;
    padding-left: 54px;
  }
  .footer-wrap__line {
    flex-wrap: wrap;
    gap: 33px 8%;
  }
  .footer-menu {
    width: 46%;
  }
  .footer-links {
    width: 100%;
    margin-top: 24px;
  }
  .footer-links .social .text {
    font-size: 22px;
  }
  .footer-links .zerone {
    margin-top: 48px;
  }
  .home-wrap .hero-content {
    padding: 47px 56px 89px;
  }
  .home-wrap .hero-content .search-text {
    width: calc(100% - 174px);
  }
  .home-wrap .category-wrap {
    gap: 29px;
  }
  .home-wrap .popular-wrap {
    gap: 37px;
  }
  .home-wrap .seo-wrap {
    gap: 21px;
  }
  .home-wrap .seo-box {
    width: calc(50% - 10.5px);
    padding: 24px 24px 17px 22px;
  }
  .home-wrap .blogs-wrap {
    gap: 22px;
  }
  .home-wrap .about-wrap {
    padding: 41px;
  }
  .home-wrap .about-info {
    gap: 26px;
  }
  .search-text {
    padding: 12px 20px 12px 54px;
  }
  .search .button {
    width: 166px;
  }
  .card_list {
    gap: 22px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    line-height: 39px;
  }
  .box {
    width: 100vw;
  }
  .header-wrap {
    padding: 14px 8px 10px;
  }
  .header-wrap .text {
    font-size: 16px;
  }
  .header-location {
    width: 86px;
    margin-right: 0;
    padding: 0;
  }
  .header-links {
    display: none !important;
  }
  .footer-wrap {
    grid-gap: 67px;
    padding: 19px 4.26667vw 86px;
  }
  .footer-wrap__line {
    flex-direction: column;
    gap: 44px;
  }
  .footer-menu {
    width: 100%;
  }
  .footer-links .social .text {
    font-size: 20px;
  }
  .footer-links .zerone {
    width: 75%;
  }
  .main {
    padding-top: 152px;
  }
  .home {
    margin: 19px 0 83px;
  }
  .home-wrap {
    gap: 90px;
  }
  .home-wrap .hero {
    width: 100vw;
  }
  .home-wrap .hero-content {
    padding: 47px 4.26667vw 89px;
  }
  .home-wrap .hero-content__description {
    width: 100%;
    margin-bottom: 86px;
  }
  .home-wrap .hero-content__description .title {
    line-height: 39px;
    margin-bottom: 16px;
  }
  .home-wrap .hero-content__description .text {
    -webkit-line-clamp: 3;
  }
  .home-wrap .hero-content .search-text {
    width: 100%;
  }
  .home-wrap .category,
  .home-wrap .popular,
  .home-wrap .reviews,
  .home-wrap .blogs {
    margin-left: 4.26667vw;
  }
  .home-wrap .category-wrap {
    gap: 4.26667vw;
  }
  .home-wrap .category-block {
    min-width: 41.6vw;
  }
  .home-wrap .category-block__icon {
    height: 41.6vw;
  }
  .home-wrap .popular {
    width: 95.734vw;
  }
  .home-wrap .reviews-header,
  .home-wrap .blogs-header {
    margin-right: 4.26667vw;
  }
  .home-wrap .seo,
  .home-wrap .about {
    margin: 4.26667vw;
  }
  .home-wrap .seo-subtitle {
    font-size: 18px;
    line-height: 25px;
  }
  .home-wrap .seo-title {
    line-height: 39px;
  }
  .home-wrap .seo-text {
    font-size: 16px;
    line-height: 19px;
  }
  .home-wrap .seo-text, .home-wrap .seo-wrap {
    margin-top: 40px;
  }
  .home-wrap .seo-wrap {
    gap: 27px;
  }
  .home-wrap .seo-box {
    width: 100%;
    min-height: 234px;
    padding: 20px 14px 20px;
  }
  .home-wrap .seo-box .title {
    width: 100%;
    line-height: 24px;
    margin: 0 auto 20px;
  }
  .home-wrap .blogs .btn-text {
    display: none;
  }
  .home-wrap .blogs-wrap {
    gap: 16px;
  }
  .home-wrap .about {
    height: -moz-max-content;
    height: max-content;
  }
  .home-wrap .about-wrap {
    flex-direction: column;
    gap: 40px;
    padding: 24px 16px 19px;
  }
  .home-wrap .about-info {
    grid-gap: 20px;
  }
  .home-wrap .about-info__title {
    line-height: 39px;
    margin-bottom: 1px;
  }
  .home-wrap .about-info__text {
    width: 100%;
  }
  .home-wrap .about-info__text:last-child {
    width: 100%;
  }
  .home-wrap .about-image {
    width: 100%;
  }
  .search {
    padding: 8px 2.133334vw;
  }
  .search-icon {
    left: 7.46667vw;
  }
  .search-text {
    padding-right: 9.6vw;
    padding-left: 14.4vw;
  }
  .search .button {
    display: none;
  }
  .rating {
    gap: 6px;
    padding: 4px;
  }
  .author-text,
  .date-text {
    font-size: 14px;
    line-height: 17px;
  }
  .author {
    gap: 8px;
  }
  .date {
    gap: 6px;
  }
  .date-dot {
    font-size: 14px;
  }
  .card {
    min-width: 282px;
  }
  .card_list {
    gap: 30px;
  }
  .card-content {
    padding: 17px 11px 2px 7px;
  }
  .card-content__bottom .price {
    gap: 5px;
  }
  .review {
    min-width: 300px;
    padding: 15px;
  }
  .review-button {
    top: 15px;
    right: 15px;
  }
  .review-text {
    font-size: 16px;
  }
  .blog {
    min-width: 318px;
  }
  .blog-info {
    padding: 20px 16px 19px;
  }
  .blog-button {
    top: 140px;
    right: 35px;
  }
  .reviews-header__buttons {
    gap: 8px;
  }
  .reviews-header__buttons .btn {
    width: 63px;
  }
  .reviews-wrap {
    gap: 16px;
  }
}/*# sourceMappingURL=main.css.map */