@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.box {
  width: 63.4375vw;
  margin: auto;
}
.box .horizontal {
  display: flex;
}
.box .horizontal-center {
  align-items: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::-moz-selection {
  background-color: #03306B;
  color: #FFF;
}

::selection {
  background-color: #03306B;
  color: #FFF;
}

img {
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  outline: none;
}

input {
  color: #1E1E1E;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #1E1E1E;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 2;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.header-wrap {
  padding: 13px 1.71875vw 21px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
}
.header-wrap .text {
  font-size: 20px;
  font-weight: 400;
  color: #1E1E1E;
}
.header-logo {
  width: 13.1771vw;
  margin-right: 4.6875vw;
}
.header-location {
  width: 5.6771vw;
  gap: 0.4166667vw;
  margin-right: 13.02083vw;
  padding-bottom: 5px;
}
.header-location .icon {
  height: 24px;
  padding: 1px 2px;
}
.header-links {
  justify-content: space-between;
  width: 13.59375vw;
}
.header-links__social {
  gap: 1.25vw;
}
.header-links__social .icon {
  height: 32px;
}
.header .button {
  margin-left: 2.864583vw;
}
.header .button .icon {
  width: 16px;
  height: 16px;
}
.header-menu {
  gap: 0.833333vw;
  border-top: 1px solid #D4D4D4;
  margin-top: 19.5px;
  padding-top: 11.5px;
}
.header-menu .text {
  display: block;
  padding: 10px 0.4166667vw;
  font-weight: 500;
  line-height: 24px;
}

.footer-wrap {
  display: grid;
  grid-gap: 36px;
  padding: 49px 5.52083vw 54px 5.4166667vw;
  border-radius: 16px 16px 0px 0px;
  background-color: #464646;
}
.footer-wrap .horizontal {
  gap: 2.734375vw;
}
.footer-wrap .horizontal .text {
  color: #FFF;
}
.footer-menu {
  display: grid;
  grid-gap: 8px;
  width: 13.489583vw;
}
.footer-menu .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.footer-links .text {
  font-family: "Montserrat", sans-serif;
}
.footer-links .social {
  gap: 1.25vw;
  margin-top: 16px;
}
.footer-links .zerone {
  gap: 1.30208vw;
  margin-top: 80px;
}

.main {
  padding-top: 183px;
}
.main.home {
  margin: 55px 0 143px;
}
.main.home .box {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.main.home .box .hero,
.main.home .box .about {
  border-radius: 16px;
}
.main.home .box .hero {
  position: relative;
  height: 475px;
  overflow: hidden;
}
.main.home .box .hero-image {
  width: 100%;
  height: 100%;
  -o-object-position: 100% 44%;
     object-position: 100% 44%;
}
.main.home .box .hero-content {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 47px 75px 89px;
}
.main.home .box .hero-content .boxx {
  width: 46.161%;
  margin-bottom: 63px;
}
.main.home .box .hero-content .boxx .title {
  line-height: 58px;
  margin-bottom: 30px;
}
.main.home .box .hero-content .boxx .text {
  font-weight: 400;
  line-height: 29px;
  color: #FFF;
}
.main.home .box .category-content,
.main.home .box .popular-content,
.main.home .box .seo-content,
.main.home .box .blogs-content {
  margin-top: 40px;
}
.main.home .box .popular-content__header,
.main.home .box .blogs-header,
.main.home .box .category-content {
  justify-content: space-between;
}
.main.home .box .category-content .block {
  width: 7.29167vw;
}
.main.home .box .category-content .block-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7.29167vw;
  border-radius: 20px;
}
.main.home .box .category-content .block-item.blue {
  background-color: #E0EDFF;
}
.main.home .box .category-content .block-item.green {
  background-color: #E6FFD0;
}
.main.home .box .category-content .block-item.orange {
  background-color: #FFE9C8;
}
.main.home .box .category-content .block-item.ping {
  background-color: #FED7FF;
}
.main.home .box .category-content .block-item.yellow {
  background-color: #FFF7DC;
}
.main.home .box .category-content .block-item.red {
  background-color: #FFECEC;
}
.main.home .box .category-content .block-item.purple {
  background-color: #B6C1FF;
}
.main.home .box .category-content .block-text {
  text-align: center;
  margin-top: 20px;
}
.main.home .box .seo-subtitle, .main.home .box .seo-title {
  text-align: center;
}
.main.home .box .seo-subtitle {
  margin-bottom: 12px;
  color: #A1A1A1;
}
.main.home .box .seo-content:last-child {
  display: grid;
  grid-gap: 28px 1.40625vw;
  grid-template-columns: repeat(2, 1fr);
}
.main.home .box .seo-content:last-child .boxx {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 234px;
  padding: 24px 1.66667vw 17px 1.5625vw;
  border-radius: 16px;
}
.main.home .box .seo-content:last-child .boxx .title,
.main.home .box .seo-content:last-child .boxx .text {
  text-align: center;
}
.main.home .box .seo-content:last-child .boxx.red {
  background-color: #FFE2E2;
}
.main.home .box .seo-content:last-child .boxx.red .title {
  color: #CE5353;
}
.main.home .box .seo-content:last-child .boxx.yellow {
  background-color: #FBFFDF;
}
.main.home .box .seo-content:last-child .boxx.yellow .title {
  color: #F90;
}
.main.home .box .seo-content:last-child .boxx.blue {
  background-color: #DBE3FF;
}
.main.home .box .seo-content:last-child .boxx.blue .title {
  color: #3561FD;
}
.main.home .box .seo-content:last-child .boxx.green {
  background-color: #CEFFB7;
}
.main.home .box .seo-content:last-child .boxx.green .title {
  color: #319900;
}
.main.home .box .blogs .btn {
  gap: 0.4166667vw;
}
.main.home .box .blogs-content {
  gap: 1.5625vw;
  overflow: scroll;
}
.main.home .box .blogs-content .blog {
  position: relative;
  min-width: 20.10417vw;
  max-width: 20.10417vw;
}
.main.home .box .blogs-content .blog-image {
  width: 100%;
  height: 197px;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}
.main.home .box .blogs-content .blog-image img {
  width: 100%;
  height: 100%;
}
.main.home .box .blogs-content .blog-content {
  display: grid;
  grid-gap: 12px;
  max-height: 143px;
  min-height: 143px;
  border-right: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-radius: 0px 0px 16px 16px;
  padding: 20px 0.78125vw 19px;
}
.main.home .box .blogs-content .blog-content__date {
  color: #A1A1A1;
  font-weight: 500;
  line-height: 19px;
}
.main.home .box .blogs-content .blog-content__title {
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main.home .box .blogs-content .blog-button {
  position: absolute;
  top: 40.93618%;
  right: 5.4423%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFF;
}
.main.home .box .about {
  justify-content: space-between;
  height: 493px;
  background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%);
  padding: 55px 2.8125vw;
}
.main.home .box .about-content {
  display: grid;
  grid-gap: 35px;
}
.main.home .box .about-content__title {
  font-weight: 700;
  margin-bottom: 1px;
}
.main.home .box .about-content__text {
  width: 28.69792vw;
}
.main.home .box .about-content__text:last-child {
  width: 23.80208vw;
}
.main.home .box .about-image {
  width: 19.94792vw;
  border-radius: 16px;
}
.main.hostels {
  margin: 60px 0 176px;
}
.main.hostels .image {
  width: 100%;
  height: 426px;
  border-radius: 16px;
  margin: 46px 0 32px;
}
.main.hostels .galery {
  gap: 16px;
  margin-bottom: 40px;
}
.main.hostels .galery-image {
  width: 88px;
  height: 72px;
  border-radius: 16px;
}
.main.hostels .content {
  gap: 33px;
}
.main.hostels .content .left {
  border-top: 1px solid #D4D4D4;
  padding-top: 39px;
}
.main.hostels .content .left .title {
  gap: 15px;
}
.main.hostels .content .left .includes {
  gap: 22px;
  margin: 24px 0 40px;
}
.main.hostels .content .left .includes-item {
  gap: 8px;
}
.main.hostels .content .left .text {
  font-size: 18px;
}
.main.hostels .content .left .special {
  list-style-type: disc;
  margin-left: 16px;
}
.main.hostels .content .right {
  min-width: 175px;
}
.main.hostels .content .right .price-description {
  text-align: right;
}
.main.hostels .content .right .button {
  margin-top: 26px;
}
.main.filter {
  margin: 38px 0 94px;
}
.main.filter .content {
  justify-content: space-between;
  margin-top: 33px;
}
.main.filter .content-left {
  width: 14.6875vw;
}
.main.filter .content-left .filter {
  border: 1px solid #D4D4D4;
  border-radius: 16px;
  padding: 16px 0.83333vw;
}
.main.filter .content-left .filter-title {
  font-weight: 600;
  line-height: 36px;
}
.main.filter .content-left .filter-content {
  margin-top: 23.5px;
  padding-top: 23.5px;
  border-top: 1px solid #A1A1A1;
}
.main.filter .content-left .filter-content .title {
  font-size: 18px;
  line-height: 22px;
}
.main.filter .content-left .filter-content .subtitle {
  line-height: 19.2px;
  color: #A1A1A1;
  margin-top: 8px;
}
.main.filter .content-left .filter-content.non {
  border-top: none;
  margin-top: 32px;
  padding-top: 0;
}
.main.filter .content-left .filter-content .price {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.main.filter .content-left .filter-content .price-field {
  padding: 46px 0 30px;
}
.main.filter .content-left .filter-content .price-range {
  gap: 0.52083vw;
}
.main.filter .content-left .filter-content .price-range__input {
  position: relative;
  width: 6.25vw;
}
.main.filter .content-left .filter-content .price-range__input input,
.main.filter .content-left .filter-content .price-range__input p {
  font-size: 18px;
}
.main.filter .content-left .filter-content .price-range__input input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #A1A1A1;
  padding: 8px 0.52083vw 8px 1.875vw;
}
.main.filter .content-left .filter-content .price-range__input p {
  position: absolute;
  top: 50%;
  left: 0.52083vw;
  transform: translate(0%, -50%);
  color: #BFBEBC;
}
.main.filter .content-left .filter-content .price input[type=range] {
  position: absolute;
  width: 100%;
  height: 2px;
  border: 1px solid #EDEDED;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
}
.main.filter .content-left .filter-content .price input[type=range]::-webkit-slider-thumb {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #03306B;
  cursor: pointer;
  z-index: 3;
}
.main.filter .content-left .filter-content .filter_ch {
  display: grid;
  grid-gap: 12px;
  margin-top: 20px;
}
.main.filter .content-left .filter-content .filter_ch-item {
  justify-content: space-between;
}
.main.filter .content-left .filter-content .filter_ch-item__field {
  gap: 0.625vw;
}
.main.filter .content-left .filter-content .filter_ch-item__field .input {
  width: 24px;
  height: 24px;
  accent-color: #03306B;
}
.main.filter .content-left .filter-content .filter_ch-item__field .text {
  font-size: 15px;
  font-weight: 500;
}
.main.filter .content-left .filter .button {
  margin-top: 32px;
}
.main.filter .content-right {
  width: 47.1875vw;
}
.main.filter .content-right__header {
  justify-content: space-between;
  margin-bottom: 32px;
}
.main.filter .content-right__header .search_result {
  gap: 0.26042vw;
}
.main.filter .content-right__header .sorting {
  gap: 0.4166667vw;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D4D4D4;
  padding: 4px 0.52083vw;
}
.main.filter .content-right__body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.main.filter .content-right__body .card {
  gap: 1.25vw;
  height: 225px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}
.main.filter .content-right__body .card-image {
  width: 11.71875vw;
  border-radius: 16px;
}
.main.filter .content-right__body .card-info, .main.filter .content-right__body .card-action {
  margin: 12.5px 0;
}
.main.filter .content-right__body .card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 21.7709vw;
}
.main.filter .content-right__body .card-info__header {
  justify-content: space-between;
}
.main.filter .content-right__body .card-info__header .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}
.main.filter .content-right__body .card-info__locations {
  gap: 0.83333vw;
}
.main.filter .content-right__body .card-info__locations .text {
  color: #A1A1A1;
}
.main.filter .content-right__body .card-info__locations .btn {
  text-decoration: underline;
}
.main.filter .content-right__body .card-info__reviews {
  gap: 0.4166667vw;
}
.main.filter .content-right__body .card-info__reviews .text {
  font-size: 18px;
}
.main.filter .content-right__body .card-info__reviews .text2 {
  font-weight: 600;
}
.main.filter .content-right__body .card-info__features {
  flex-wrap: wrap;
  gap: 4px 0.4166667vw;
}
.main.filter .content-right__body .card-info__features .text {
  color: #A1A1A1;
}
.main.filter .content-right__body .card-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10.3646vw;
  padding-left: 3.38542vw;
  margin-right: 0.83333vw;
  border-left: 1px solid #E3E3E3;
}
.main.filter .content-right__pagination {
  gap: 0.8333vw;
  margin-top: 46px;
  height: 24px;
}
.main.filter .content-right__pagination .icon,
.main.filter .content-right__pagination .pagination {
  height: 100%;
}
.main.filter .content-right__pagination .icon,
.main.filter .content-right__pagination .pagination-element {
  width: 24px;
}
.main.filter .content-right__pagination .pagination-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
}
.main.filter .content-right__pagination .pagination-element.active {
  background-color: #03306B;
}
.main.filter .content-right__pagination .pagination-element.active .text {
  color: #FFF;
}
.main.filter .info {
  display: grid;
  grid-gap: 32px;
  margin-top: 112px;
}
.main.filter .info-title {
  font-size: 39px;
  color: #1E1E1E;
}
.main.filter .info-text {
  font-size: 24px;
}
.main.filter .info-list {
  list-style: disc;
  margin-top: -32px;
  padding-left: 0.75vw;
}
.main.detail {
  margin: 60px 0 150px;
}
.main.detail .head {
  display: grid;
  grid-gap: 24px;
  margin: 32px 0;
}
.main.detail .head-top {
  gap: 55px;
}
.main.detail .head-top .title {
  line-height: 39px;
}
.main.detail .head-top .block {
  gap: 35px;
  height: 24px;
}
.main.detail .head-top .block-icon {
  gap: 12px;
}
.main.detail .head-bottom {
  justify-content: space-between;
}
.main.detail .head-bottom .type-name {
  font-size: 20px;
  font-weight: 600;
  color: #03306B;
  margin-bottom: 4px;
}
.main.detail .head-bottom .reviews-title {
  font-weight: 600;
}
.main.detail .head-bottom .reviews-text {
  font-size: 14px;
}
.main.detail .head-bottom .reviews-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  border-radius: 8px;
  background-color: #03306B;
  margin-left: 0.625vw;
}
.main.detail .head-bottom .reviews-rating__text {
  color: #FFF;
}
.main.detail .galery {
  gap: 1.5625vw;
}
.main.detail .galery-main, .main.detail .galery-secondary {
  width: 30.9375vw;
}
.main.detail .galery-main {
  height: 426px;
}
.main.detail .galery-secondary {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px 1.5625vw;
}
.main.detail .galery-secondary .frame {
  width: 14.6875vw;
  height: 198px;
}
.main.detail .galery-main,
.main.detail .galery .frame {
  border-radius: 16px;
  overflow: hidden;
}
.main.detail .galery-main img,
.main.detail .galery .frame img {
  width: 100%;
  height: 100%;
}
.main.detail .info {
  justify-content: space-between;
  margin-top: 65px;
}
.main.detail .info-left {
  display: grid;
  grid-gap: 80px;
  width: 47.1875vw;
}
.main.detail .info-left .description-title,
.main.detail .info-left .variant-title {
  margin-bottom: 24px;
}
.main.detail .info-left .useful-title {
  margin-bottom: 40px;
}
.main.detail .info-left .useful-content {
  justify-content: space-between;
}
.main.detail .info-left .useful-content .block {
  display: grid;
  grid-gap: 20px;
  width: 23.64584vw;
  border-radius: 16px;
  background: #EEE;
  padding: 24px 1.25vw;
}
.main.detail .info-left .useful-content .block:last-child {
  width: 21.97917vw;
}
.main.detail .info-left .variant-content {
  display: grid;
  grid-gap: 24px;
}
.main.detail .info-left .variant-content .card {
  gap: 1.5625vw;
  height: 318px;
  border: 1px solid #F4F4F4;
  border-radius: 16px;
  padding: 16px 0.83333vw;
}
.main.detail .info-left .variant-content .card-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14.6875vw;
}
.main.detail .info-left .variant-content .card-carousel .image {
  border-radius: 16px;
}
.main.detail .info-left .variant-content .card-carousel .main_image,
.main.detail .info-left .variant-content .card-carousel .mini_images {
  width: 100%;
}
.main.detail .info-left .variant-content .card-carousel .main_image {
  height: 198px;
}
.main.detail .info-left .variant-content .card-carousel .mini_images {
  gap: 9px;
  overflow: scroll;
}
.main.detail .info-left .variant-content .card-carousel .mini_images .image {
  width: 88px;
  height: 72px;
}
.main.detail .info-left .variant-content .card-content {
  width: 29.27083vw;
}
.main.detail .info-left .variant-content .card-content .title {
  font-weight: 600;
  margin-bottom: 20px;
}
.main.detail .info-left .variant-content .card-content .list {
  gap: 1.14583vw;
}
.main.detail .info-left .variant-content .card-content .bottom {
  justify-content: space-between;
  border-top: 1px solid #D4D4D4;
  margin-top: 39.5px;
  padding-top: 39.5px;
}
.main.detail .info-left .variant-content .card-content .bottom-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main.detail .info-left .variant-content .card-content .bottom-left .text {
  font-size: 18px;
  font-weight: 600;
}
.main.detail .info-left .variant-content .card-content .bottom-left .btn {
  color: #03306B;
  text-decoration: underline;
}
.main.detail .info-left .variant-content .card-content .bottom-right .button {
  margin-top: 26px;
}
.main.detail .info-right {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 14.6875vw;
}
.main.detail .info-right .title {
  line-height: 24px;
}
.main.detail .info-right .text {
  line-height: 19px;
}
.main.detail .info-right .advantages,
.main.detail .info-right .contacts {
  background-color: #F0F0F0;
  border-radius: 16px;
}
.main.detail .info-right .advantages {
  padding: 20px 1.04167vw 19px;
}
.main.detail .info-right .advantages .col {
  display: grid;
  grid-gap: 8px;
}
.main.detail .info-right .advantages .col .big {
  gap: 0.104167vw;
  margin-top: 16px;
}
.main.detail .info-right .advantages .col .small {
  gap: 0.4166667vw;
}
.main.detail .info-right .advantages .button {
  margin-top: 20px;
}
.main.detail .info-right .locations {
  position: relative;
  display: grid;
  grid-gap: 17px;
}
.main.detail .info-right .locations-map {
  width: 100%;
  height: 387px;
}
.main.detail .info-right .locations-popup {
  position: absolute;
  bottom: 20%;
  left: 10.33%;
  width: 7.70833vw;
  height: 74px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 0.52083vw;
}
.main.detail .info-right .locations-popup .name {
  font-weight: 600;
  margin-bottom: 11px;
}
.main.detail .info-right .locations-popup .horizontal {
  justify-content: space-between;
}
.main.detail .info-right .locations-popup .horizontal .rating {
  width: 1.71875vw;
  height: 28px;
  background-color: #03306B;
  padding: 2px 0.3125vw;
}
.main.detail .info-right .locations-popup .horizontal .rating-text {
  color: #FFF;
}
.main.detail .info-right .locations-popup .horizontal .review {
  font-size: 14px;
  gap: 0.104167vw;
}
.main.detail .info-right .locations-popup .horizontal .review span {
  font-weight: 600;
}
.main.detail .info-right .contacts {
  display: grid;
  grid-gap: 16px;
  padding: 20px 1.04167vw 46px;
}
.main.detail .info-right .contacts .title {
  font-weight: 500;
}
.main.detail .info-right .contacts .text span {
  font-weight: 700;
}
.main.detail .info .reviews,
.main.detail .info .popular {
  margin-top: 80px;
}
.main.detail .popular-content__body {
  margin-top: 24px;
}

.breadcrumbs {
  gap: 0.52083vw;
  margin-bottom: 32px;
}
.breadcrumbs-item {
  gap: 10px;
}
.breadcrumbs-item .text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8A8894;
}
.breadcrumbs-item:last-child .text {
  color: #03306B;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4166667vw;
  width: auto;
  height: 48px;
  padding: 14px 1.666667vw;
  border-radius: 4px;
  background-color: #03306B;
  cursor: pointer;
}
.button-text {
  font-family: "Nunito Sans", sans-serif;
  color: #FFF;
}
.button:hover {
  background-color: #012657;
}
.button:active {
  background-color: #3347B4;
}
.button.disabled {
  background-color: #F1F0ED;
}
.button.disabled .button-text {
  color: #BFBEBC;
}
.button:focus {
  background-color: #0A3062;
}

.search {
  position: relative;
  display: flex;
  align-items: start;
  gap: 8px;
  height: 72px;
  background-color: #FFF;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.search-icon {
  position: absolute;
  left: 28px;
}
.search-text {
  width: 77%;
  padding: 15px 20px 15px 54px;
  background-color: #F7F7FD;
  border-radius: 4px;
}
.search-text::-moz-placeholder {
  color: #A1A1A1;
}
.search-text::placeholder {
  color: #A1A1A1;
}
.search .button {
  width: 20.7%;
}
.search .button-text {
  font-size: 20px;
}

.rating {
  width: -moz-max-content;
  width: max-content;
  gap: 0.3125vw;
  padding: 4px 0.20833vw;
  border-radius: 8px;
  background-color: #F4F4F4;
}
.rating-text {
  color: #656565;
}

.price {
  gap: 5px;
  justify-content: end;
}
.price-text {
  font-weight: 700;
  line-height: 29px;
}
.price-description {
  color: #A1A1A1;
  line-height: 19px;
}

.location {
  gap: 0.36453vw;
}
.location-text {
  color: #A1A1A1;
}

.reviews-header {
  justify-content: space-between;
}
.reviews-header__icons {
  gap: 0.4166667vw;
}
.reviews-header__icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.28125vw;
  height: 43px;
  border-radius: 8px;
  background-color: #ECECEC;
}
.reviews-header__icons .icon:first-child {
  transform: rotate(180deg);
}
.reviews-content {
  gap: 1.5625vw;
  margin-top: 40px;
}
.reviews-content .review {
  position: relative;
  display: grid;
  grid-gap: 23px;
  width: 20.10467vw;
  padding: 15px 0.78125vw;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
}
.reviews-content .review-button {
  position: absolute;
  top: 16px;
  right: 0.83333vw;
}
.reviews-content .review-title {
  font-weight: 500;
}
.reviews-content .review-text {
  font-size: 18px;
  line-height: 21.6px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.reviews-content .review-footer {
  justify-content: space-between;
}
.reviews-content .review-footer__author, .reviews-content .review-footer__time {
  gap: 0.4166667vw;
}
.reviews-content .review-footer__author .text, .reviews-content .review-footer__time .text {
  color: #A1A1A1;
}
.reviews-content .review-footer__time .dot {
  font-weight: 300;
  color: #D4D4D4;
}

.popular-content {
  display: grid;
  grid-gap: 50px;
}
.popular-content__header {
  margin-bottom: 12px;
}
.popular-content__header .icon {
  padding: 15px 22.5px;
}
.popular-content__body {
  gap: 1.5625vw;
}
.popular-content__body .card {
  width: 14.6875vw;
  height: 286px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
}
.popular-content__body .card-image {
  width: 100%;
  height: 158px;
  border-radius: 16px;
  overflow: hidden;
}
.popular-content__body .card-image img {
  width: 100%;
  height: 100%;
}
.popular-content__body .card-content {
  position: relative;
  height: 110px;
  margin-top: 16px;
  margin-left: 0.36458vw;
}
.popular-content__body .card-content__title {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.popular-content__body .card-content__location, .popular-content__body .card-content__price, .popular-content__body .card-content__rating {
  display: flex;
  align-items: center;
}
.popular-content__body .card-content__location {
  gap: 0.36458vw;
}
.popular-content__body .card-content__location .text {
  color: #A1A1A1;
}
.popular-content__body .card-content__price, .popular-content__body .card-content__rating {
  position: absolute;
}
.popular-content__body .card-content__price {
  bottom: 8.1819%;
  left: 0;
  gap: 0.26042vw;
}
.popular-content__body .card-content__rating {
  bottom: 5.4547%;
  right: 2.56441%;
  gap: 0.3125vw;
  padding: 4px 0.20833vw;
}
.popular-content__body .card-content__rating .text {
  color: #656565;
}

.modal {
  display: none;
}
.modal.show {
  display: block;
}
.modal-background, .modal-content {
  position: fixed;
}
.modal-background {
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
  z-index: 4;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 39.27083vw;
  transform: translate(-50%, -50%);
  padding: 35px 2.08333vw 35.51px;
  border-radius: 16px;
  background-color: #FFF;
}
.modal-content .btn {
  position: absolute;
  top: 10.5px;
  right: 0.546875vw;
}
.modal-content .name {
  line-height: 36px;
  text-overflow: ellipsis;
}
.modal-content .galery,
.modal-content .more,
.modal-content .rating {
  display: flex;
}
.modal-content .galery {
  justify-content: space-between;
  height: 125.5px;
}
.modal-content .galery-image {
  width: 11.04167vw;
  height: 100%;
  border-radius: 10.141px;
}
.modal-content .more {
  align-items: center;
  gap: 0.4166667vw;
}
.modal-content .more-text {
  line-height: 36px;
}
.modal-content .info {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.modal-content .info .rating {
  align-items: center;
  gap: 0.3125vw;
  width: -moz-max-content;
  width: max-content;
  height: 32px;
  padding: 4px 0.20833vw;
  border-radius: 8px;
  background-color: #F4F4F4;
}
.modal-content .info .rating-text {
  line-height: 24px;
  color: #656565;
}
.modal-content .info .description {
  font-size: 18px;
  line-height: 22px;
}
.modal-content .info .bottom {
  display: flex;
  justify-content: space-between;
}
.modal-content .info .bottom .user,
.modal-content .info .bottom .date {
  display: flex;
  align-items: center;
  gap: 0.4166667vw;
}
.modal-content .info .bottom .text {
  line-height: 19px;
  color: #A1A1A1;
}
.modal-content .info .bottom .date-dot {
  font-weight: 300;
  color: #D4D4D4;
}

.main.interestings {
  margin: 60px 0 188px;
}
.main.interestings .content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 1.5625vw;
}

.blog {
  position: relative;
  width: 20.104167vw;
}
.blog-image {
  width: 100%;
  height: 197px;
  border-radius: 16px 16px 0 0;
}
.blog-info {
  height: 143px;
  border-right: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-radius: 0px 0px 16px 16px;
  padding: 20px 0.78125vw 19px;
}
.blog-info__date {
  color: #A1A1A1;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 12px;
}
.blog-info__text {
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 3em;
}
.blog-info-button {
  position: absolute;
  top: 40.93618%;
  right: 5.4423%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFF;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .box {
    width: 91.46667vw;
  }
  .header-wrap {
    padding: 14px 2.133333vw 10px;
  }
  .header-wrap .text {
    font-size: 16px;
  }
  .header-logo, .header-links {
    display: none !important;
  }
  .header .button-text {
    display: none;
  }
  .header-menu {
    overflow: scroll;
  }
  .header-menu .text {
    padding: 10px 2.133333vw;
    line-height: 19px;
  }
  .footer-wrap .horizontal {
    flex-direction: column;
  }
  .footer-menu {
    width: 100%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}/*# sourceMappingURL=main.css.map */