@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	h1
		font-size: 32px

	.box
		width: 91.46667vw

	// LAYOUT
	.header,
	.footer
		&-wrap
			width: 100vw

	.header
		top: 0
		&-wrap
			padding: 14px 2.133333vw 10px
			.text
				font-size: 16px
		&-logo
			width: max-content
			margin-right: 8.53333vw
			&__desktop
				display: none
			&__mobile
				display: block
		&-location
			width: 22.933333vw
			gap: 2.133333vw
			margin-right: 0
			padding: 0
			.icon
				width: 16px
				height: 16px
				padding: 1.33px 2px
			.text
				line-height: 19px
		&-links
			display: none !important
		.button
			width: 21.33334vw
			height: 44px
			margin-left: auto
			&-text
				display: none
		&-menu
			gap: 2.133333vw
			padding-top: 8.5px
			.text
				padding: 10px 2.133333vw
				line-height: 19px

	.footer
		&-wrap
			grid-gap: 67px
			padding: 19px 4.26667vw 86px
			&__line
				flex-direction: column
				gap: 44px
		&-menu
			width: 100%
		&-links
			margin-top: 24px
			.social
				.text
					font-size: 20px
				&-icons
					gap: 6.4vw
			.zerone
				gap: 6.66667vw
				width: 72.53334vw
				margin-top: 48px

	.main
		padding-top: 152px

	// PAGES
	.home
		margin: 19px 0 83px
		&-wrap
			gap: 93px
			.hero
				width: 100vw
				margin: 0 -4.26667vw
				&-content
					padding: 47px 4.26667vw 89px
					&__description
						width: 100%
						margin-bottom: 86px
						.title
							line-height: 39px
							margin-bottom: 16px
						.text
							-webkit-line-clamp: 3
					.search-text
						width: 100%
			.category,
			.popular
				&-wrap
					margin-right: -4.26667vw
			.category
				&-wrap
					gap: 4.26667vw
				&-block
					min-width: 41.6vw
					&__icon
						height: 41.6vw
	// COMPONENTS
	.search
		padding: 8px 2.133334vw
		&-icon
			left: 7.46667vw
		&-text
			padding-right: 9.6vw
			padding-left: 14.4vw
		.button
			display: none

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
