@use 'sass:math'
@use 'sass:color'

@import fonts
@import libs
@import vars
	
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.container
	width: 1218px
	padding: 0
	.row
		margin: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: $white

ul
	list-style-type: none
	padding: 0
	margin: 0
a
	color: $dark

h1, h2, h3, h4, h5, h6, p
	margin: 0

.btn
	display: flex
	align-items: center
	justify-content: center
	gap: 8px
	width: fit-content
	height: 48px
	padding: 14px 32px
	border-radius: 4px
	background-color: $accent
	&-text
		font-family: 'Nunito Sans', sans-serif
		font-size: 16px
		font-weight: 400
		color: $white
		margin: 0
	&:hover
		color: $white
		background-color: #012657
	&:active
		background-color: #3347B4
	&:focus
		background-color: #0A3062

.header
	position: fixed
	z-index: 2
	top: 12px
	left: 50%
	transform: translateX(-50%)
	&-wrap
		padding: 13px 33px 21px
		background-color: $white
		border-radius: 16px
		box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, .15)
		.h-row
			display: flex
			align-items: center
		.text
			font-size: 20px
			font-weight: 400
			color: $dark
			margin: 0
		.logo
			margin-right: 90px
		.location
			display: flex
			align-content: center
			gap: 8px
			margin-right: 250px
			padding-bottom: 5px
			.icon
				height: 24px
				padding: 1px 2px
		.information
			display: flex
			align-content: center
			gap: 55px
			.social
				display: flex
				gap: 24px
				.icon
					height: 32px
		.auth
			margin-left: 55px
			.icon
				width: 16px
				height: 16px
		.menu
			display: flex
			gap: 16px
			border-top: 1px solid #D4D4D4
			margin-top: 19.5px
			padding-top: 11.5px
			.text
				display: block
				padding: 10px 8px
				font-weight: 500
				line-height: 24px

.main
	margin-top: 30px
	.search-wrap
		background-image: url('../img/bg-search.jpg')
		background-repeat: no-repeat
		background-size: cover
		background-position: 0 50%
		color: $white
		padding: 45px 45px 75px
		border-radius: 15px
		h2
			font-size: 48px
			margin: 0
			line-height: 1.2
		p
			font-size: 24px
		.search-form
			background-color: $white
			border-radius: 8px
			padding: 8px
			.search-text
				width: 77%
				margin: 0 10px
				padding: 5px
				border: none
				background-color: #F7F7FD
			.btn-search
				display: inline-block
				border: none
				width: 20%
	.section
		margin: 20px 0
		&-title
			font-size: 32px
			font-weight: 400
		.title
			font-size: 20px
			font-weight: 700
			margin: 10px 0
			// float: left
		&.category
			margin: 50px 0
			.block
				&-category
					display: flex
					.block
						width: calc( 100% - 7px )
						text-align: center
						&:last-child
							margin-right: 0
						&:first-child
							margin-left: 0
						.color
							padding: 15px
							border-radius: 20px
							margin: 0 5px
							text-align: center
							height: 140px
							a
								display: block
								width: 100%
								height: 100%
							img
								margin-top: 25px
							&.blue,&.color-1
								background-color: #E0EDFF
							&.green,&.color-2
								background-color: #E6FFD0
							&.orange,&.color-3
								background-color: #FFE9C8
							&.ping,&.color-4
								background-color: #FED7FF
							&.yellow,&.color-5
								background-color: #FFF7DC
							&.red,&.color-6
								background-color: #FFECEC
							&.purple,&.color-7
								background-color: #B6C1FF
		.link-more
			position: absolute
			right: 15px
			bottom: 25px
		.blocks-wrap
			display: flex
			.block
				flex: auto
				border-radius: 16px
				border: 1px solid #D4D4D4
				overflow: hidden
				margin: 0 5px
				.content
					padding: 15px
				a
					font-size: 18px
					font-weight: 500
				.location
					color: $gray
					margin: 0 0 15px
					.icon
						width: 15px
				.price
					font-size: 20px
					font-weight: 700
					float: left
					.icon
						width: 15px
				.icon
					display: inline-block
				.raiting
					float: right
					display: flex
					.icon
						margin-left: 5px
				.img
					border-radius: 16px
					overflow: hidden
					img
						width: 100%
						height: auto
		&.reviews
			margin-top: 55px
			.block
				padding: 15px
				.link-more-dots
					float: right
				.name
					font-size: 20px
					font-weight: 500
				.raiting
					background: #F4F4F4
					border-radius: 8px
					float: none
					margin: 23px 0
					padding: 5px
					display: inline-flex
					.icon
						margin-left: 5px
				.desc
					margin-bottom: 23px
				.user
					float: left
					font-size: 14px
					color: $gray
					.icon
						width: 15px
				.date
					float: right
					font-size: 14px
					color: $gray
		&.seo
			text-align: center
			margin-top: 45px
			.title-s
				color: $gray
				font-size: 20px
				margin-bottom: 0
			.title-m
				font-size: 32px
				margin-top: 0
				margin-bottom: 45px
			.text
				text-align: left
				margin-bottom: 50px
			.blocks-wrap
				flex-direction: row
				flex-wrap: wrap
				.block
					flex: calc(50% - 20px)
					padding: 15px
					margin: 0 0 15px
					border: none
					.title
						float: none
						line-height: 1.2
					.text
						display: block
					&:nth-child(odd)
						margin-right: 10px
					&:nth-child(even)
						margin-left: 10px						
					&.c-1
						background-color: #FFE2E2
						.title
							color: #CE5353
					&.c-2
						background-color: #FBFFDF
						.title
							color: #CE5353
					&.c-3
						background-color: #DBE3FF
						.title
							color: #CE5353
					&.c-4
						background-color: #CEFFB7
		&.blog
			margin: 55px 0
			.blocks-wrap
				.block
					position: relative
					width: 33%
					.img-wrap
						height: 200px
						overflow: hidden
						background-color: #ccc
						img
							width: 100%
					.date
						padding: 15px 0 15px 15px
					.link-more
						background-color: $white
						width: 35px
						height: 35px
						border-radius: 50%
						display: block
						position: absolute
						right: 15px
						top: 35%
						text-align: center
				.title
					float: none
					padding: 0 15px 15px
					line-height: 1.2
		&.about
			.blocks-wrap
				background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%)
				border-radius: 15px
				padding: 45px
			.title
				float: none
				font-size: 32px
				margin-top: 0
			.img-wrap
				text-align: right
				margin-left: 55px
// slider
.reviews-slider

.category
	.search-wrap
		background: none
		padding: 5px
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15)
		.search-filter
			.search-text
				background-color: #F7F7FD
	.top-line
		display: flex
		.sort-wrap
			border-radius: 8px
			border: 1px solid var(--Grey-50, #D4D4D4)
	.category-wrap
		margin-bottom: 100px
		.top-line
			justify-content: space-between
			.search-result
				span
					font-weight: 700
			.sort-wrap
				justify-content: flex-end
				padding: 5px 15px 5px 0
				.icon
					margin: 0 10px
		.blocks-wrap
			margin: 30px 0
			.i-row
				display: flex
				margin: 10px 0
			.block
				border-radius: 16px
				box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .15)
				position: relative
				margin-bottom: 15px
				padding: 0
				.img-wrap
					margin-left: -15px
					img
						width: 100%
				.name
					font-size: 24px
					font-weight: 700
					line-height: 1em
				.favourite
					position: absolute
					top: 10px
					right: 15px
				.content-wrap
					padding: 15px 0
					a.name:hover
						text-decoration: none
				.raiting
					background-color: #F4F4F4
					border-radius: 4px
					margin: 0 15px
					padding: 3px 10px
				.reviews
					font-weight: 700
				.price
					span
						font-size: 24px
						font-weight: 700
				.region
					color: $gray
					font-style: 16px
				.map-link
					color: $gray
					font-size: 16px
					margin-left: 10px
				.props-list
					li
						position: relative
						padding-left: 15px
						display: inline-block
						color: #A1A1A1
						font-size: 16px
						&::before
							content: '●'
							position: absolute
							left: 0
							color: $gray
				.right-wrap
					border-left: 1px solid #E3E3E3
					padding-left: 55px
					margin: 15px 0
					.price
						display: block
						float: none
					.desc
						display: block
						color: #A1A1A1
						margin-bottom: 15px
					.btn
						display: inline-block
		.navigation-wrap
			display: flex
			justify-content: center
			align-items: center
			margin-top: 15px
			.prev
				margin-right: 15px
			.next
				margin-left: 15px
			a
				padding: 5px 10px
				border-radius: 4px
				&.active
					background-color: $accent
					color: $white
				&:hover
					background-color: $gray
					text-decoration: none
					color: $black
.filter-wrap
	border-radius: 16px
	padding: 15px
	border: 1px solid #D4D4D4
	.filter-block
		margin-top: 25px
		padding-bottom: 25px
		border-bottom: 1px solid #E3E3E3
		.name
			margin-bottom: 20px
			font-size: 18px
		.control
			margin-top: 10px
			position: relative
			padding-left: 30px
			&:hover
				input ~ .label
					background-color: darken($gray, 20)
			.label
				position: absolute
				top: 2px
				left: 0
				height: 20px
				width: 20px
				background: $gray
				&::after
					content: ''
					position: absolute
					display: none
			input
				position: absolute
				opacity: 0
				z-index: -1
				&:checked ~ .label
					background-color: $accent
					&::after
						display: block
				&:not([disabled]):checked ~ &
					background-color: $accent
		.check .label
			border-radius: 8px
			&::after				
				left: 8px
				top: 4px
				width: 5px
				height: 8px
				border: solid $white
				border-width: 0 1px 1px 0
				transform: rotate(45deg)
		.radio .label
			border-radius: 50%
			&::after
				left: 7px
				top: 7px
				height: 6px
				width: 6px
				border-radius: 50%
				background: $white
		label
			font-size: 14px

.breadcrumbs
	margin-bottom: 15px
	li
		display: inline-block
		padding-right: 15px
		font-size: 14px
		color: $gray
		a
			color: $accent
.detail
	.middle-line
		ul.block
			display: flex
			li
				flex: auto
	.name-title
		font-size: 32px
		line-height: 1.2em
		margin: 25px 0
	.type-wrap
		.name
			font-weight: 700
			font-size: 20px
		.location
			color: $gray
			font-size: 16px
	.reviews-wrap
		text-align: right
		.block-r
			display: inline-block
		.reviews
			font-weight: 700
		.addcomment
			font-size: 14px
		.raiting
			background-color: $accent
			color: $white
			display: inline-block
			padding: 5px 10px
			border-radius: 8px
			vertical-align: top
			margin-top: 5px
	.block
		.title
			font-size: 32px
	.gallery-wrap
		margin: 30px 0
		.items
			display: grid
			grid-template-columns: auto 20% 20% 
			grid-template-rows: auto
			grid-gap: 30px 30px
			.item
				border-radius: 16px
				min-height: 100px
				overflow: hidden
				background-color: $gray
				img
					width: 100%
					height: auto
				&:nth-child(1)
					grid-column: 1/span 1
					grid-row: 1/span 6
				&:nth-child(2)
					grid-row: 1/span 3
				&:nth-child(3)
					grid-row: 4/span 3
				&:nth-child(4)
					grid-column: 3
					grid-row: 1/span 3
				&:nth-child(5)
					grid-column: 3  
					grid-row: 4/span 3
				&:nth-child(6)
					grid-column: 3
					grid-row: 5/span 2
	.info-wrap
		.blocks
			display: flex
			.block
				background-color: #EEE
				width: 50%
				margin: 10px
				padding: 15px
				border-radius: 16px
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
	.rooms-wrap
		.room
			display: flex
			border-radius: 16px
			border: 1px solid #D4D4D4
			margin: 0 0 15px
			padding: 15px 0
			.img-wrap
				overflow: hidden
				border-radius: 16px
			.content-wrap
				padding: 0 15px 15px
				.name
					font-size: 24px
				.list
					li
						display: inline-block
				.bottom-line
					display: flex
					margin-top: 15px
					border-top: 1px solid #CCC
					margin-top: 25px
					padding-top: 25px
					p
						margin: 0
					.name
						font-size: 18px
						font-weight: 700
					.block-r,.block-l
						width: 50%
					.block-r
						text-align: right
						.btn
							display: inline-block
							margin-top: 15px
	.right-wrap
		.block
			background-color: #F0F0F0
			padding: 15px
			border-radius: 16px
			margin: 15px 0
			.title
				font-size: 24px
				line-height: 1.2em
			&.info
				.btn
					display: inline-block
					margin-top: 15px

.footer
	margin-top: 100px
	.footer-wrap
		background-color: #464646
		color: $white
		padding: 15px
		border-top-right-radius: 15px
		border-top-left-radius: 15px
		.logo-wrap
			padding: 25px 0
	.social-wrap
		.title
			float: none
			font-size: 24px
			margin-bottom: 15px
	.social
		li
			display: inline-block
	a
		color: $white
	.zerone
		margin-top: 55px

.modal
	display: none
	&-background,
	&-content
		position: fixed
	&-background 
		z-index: 3
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .3)
	&-content
		z-index: 4
		top: 50%
		left: 50%
		display: flex
		flex-direction: column
		gap: 29px
		width: 754px
		transform: translate(-50%, -50%)
		padding: 35px 40px 35.51px
		border-radius: 16px
		background-color: $white
		.button
			position: absolute
			top: 10.5px
			right: 10.5px
			cursor: pointer
		.text
			color: $dark
		.name
			font-size: 24px
			font-weight: 500
			line-height: 36px
			text-overflow: ellipsis
		.galery,
		.more,
		.rating
			display: flex
		.galery
			justify-content: space-between
			height: 125.5px
			&-image
				width: 212px
				height: 100%
				border-radius: 10.141px
		.more
			gap: 8px
			.text
				font-size: 24px
				font-weight: 400
				line-height: 36px
		.info
			display: flex
			flex-direction: column
			gap: 23px
			.rating
				align-items: center
				gap: 6px
				width: max-content
				height: 32px
				padding: 4px
				border-radius: 8px
				background-color: #F4F4F4
				&-text
					font-size: 16px
					font-weight: 400
					line-height: 24px
					color: #656565
			.description
				font-size: 18px
				font-weight: 400
				line-height: 22px
			.bottom
				display: flex
				justify-content: space-between
				.text
					font-size: 16px
					font-weight: 400
					line-height: 19px
					color: #A1A1A1
				.user
					display: flex
					align-items: center
					gap: 8px
				.date
					display: flex
					align-items: center
					gap: 8px
					.dot
						font-weight: 300
						color: #D4D4D4
	&.show
		display: flex
		-webkit-animation: fadeIn 1s
		animation: fadeIn 1s
	@-webkit-keyframes fadeIn {
		from {
			opacity: 0
		} to {
			opacity: 1
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0
		} to {
			opacity: 1
		}
	}

// Всегда в конце
@import media
