@use 'sass:math'
@use 'sass:color'

@import fonts
@import vars
	
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.box
	width: 63.4375vw
	margin: auto
	.horizontal
		display: flex
		&-center
			align-items: center

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: $white

img
	background-repeat: no-repeat
	object-fit: cover
input,
button
	border: none
	outline: none
input
	color: $dark
ul
	list-style-type: none
	padding: 0
	margin: 0
a
	text-decoration: none !important
	color: $dark
h1, h2, h3, h4, h5, h6, p
	margin: 0
	color: $dark
h1
	font-size: 48px
	font-weight: 600
	color: $white
h2
	font-size: 32px
	font-weight: 600
h3
	font-size: 32px
	font-weight: 400
h4
		font-size: 20px
	font-weight: 700
h5
	font-size: 24px
	font-weight: 500
h6
	font-size: 20px
	font-weight: 400
p
	font-size: 16px
	font-weight: 400

.btn	
	cursor: pointer

.header
	position: fixed
	z-index: 2
	top: 12px
	left: 50%
	transform: translateX(-50%)
	&-wrap
		padding: 13px 1.71875vw 21px
		background-color: $white
		border-radius: 16px
		box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, .15)
		.text
			font-size: 20px
			font-weight: 400
			color: $dark
	&-logo
		width: 13.1771vw
		margin-right: 4.6875vw
	&-location
		width: 5.6771vw
		gap: .4166667vw
		margin-right: 13.02083vw
		padding-bottom: 5px
		.icon
			height: 24px
			padding: 1px 2px
	&-links
		justify-content: space-between
		width: 13.59375vw
		&__social
			gap: 1.25vw
			.icon
				height: 32px
	.button
		margin-left: 2.864583vw
		.icon
			width: 16px
			height: 16px
	&-menu
		gap: .833333vw
		border-top: 1px solid $grey-secondary
		margin-top: 19.5px
		padding-top: 11.5px
		.text
			display: block
			padding: 10px .4166667vw
			font-weight: 500
			line-height: 24px

.footer
	&-wrap
		display: grid
		grid-gap: 36px
		padding: 49px 5.52083vw 54px 5.4166667vw
		border-radius: 16px 16px 0px 0px
		background-color: #464646
		.horizontal
			gap: 2.734375vw
			.text
				color: $white
	&-menu
		display: grid
		grid-gap: 8px
		width: 13.489583vw
		.text
			font-size: 20px
			font-weight: 400
			line-height: 24px
	&-links
		.text
			font-family: 'Montserrat', sans-serif
		.social
			gap: 1.25vw
			margin-top: 16px
		.zerone
			gap: 1.30208vw
			margin-top: 80px

.main
	padding-top: 183px
	&.home
		margin: 55px 0 143px
		.box
			display: flex
			flex-direction: column
			gap: 100px
			.hero,
			.about
				border-radius: 16px
			.hero
				position: relative
				height: 475px
				overflow: hidden
				&-image
					width: 100%
					height: 100%
					object-position: 100% 44%
				&-content
					position: absolute
					top: 0
					width: -webkit-fill-available
					height: -webkit-fill-available
					padding: 47px 75px 89px
					.boxx
						width: 46.161%
						margin-bottom: 63px
						.title
							line-height: 58px
							margin-bottom: 30px
						.text
							font-weight: 400
							line-height: 29px
							color: $white
			.category,
			.popular,
			.seo,
			.blogs
				&-content
					margin-top: 40px
			.popular-content__header,
			.blogs-header,
			.category-content
				justify-content: space-between
			.category-content .block
				width: 7.29167vw
				&-item
					display: flex
					align-items: center
					justify-content: center
					width: 100%
					height: 7.29167vw
					border-radius: 20px
					&.blue
						background-color: #E0EDFF
					&.green
						background-color: #E6FFD0
					&.orange
						background-color: #FFE9C8
					&.ping
						background-color: #FED7FF
					&.yellow
						background-color: #FFF7DC
					&.red
						background-color: #FFECEC
					&.purple
						background-color: #B6C1FF
				&-text
					text-align: center
					margin-top: 20px
			.seo
				&-subtitle,
				&-title
					text-align: center
				&-subtitle
					margin-bottom: 12px
					color: $grey
				&-content:last-child
					display: grid
					grid-gap: 28px 1.40625vw
					grid-template-columns: repeat(2, 1fr)
					.boxx
						display: flex
						flex-direction: column
						gap: 15px
						min-height: 234px
						padding: 24px 1.66667vw 17px 1.5625vw
						border-radius: 16px
						.title,
						.text
							text-align: center
						&.red
							background-color: #FFE2E2
							.title
								color: #CE5353
						&.yellow
							background-color: #FBFFDF
							.title
								color: #F90
						&.blue
							background-color: #DBE3FF
							.title
								color: #3561FD
						&.green
							background-color: #CEFFB7
							.title
								color: #319900
			.blogs
				.btn
					gap: .4166667vw
				&-content
					gap: 1.5625vw
					overflow: scroll
					.blog
						position: relative
						min-width: 20.10417vw
						max-width: 20.10417vw
						&-image
							width: 100%
							height: 197px
							border-radius: 16px 16px 0px 0px
							overflow: hidden
							img
								width: 100%
								height: 100%
						&-content
							display: grid
							grid-gap: 12px
							max-height: 143px
							min-height: 143px
							border-right: 1px solid $grey-secondary
							border-bottom: 1px solid $grey-secondary
							border-left: 1px solid $grey-secondary
							border-radius: 0px 0px 16px 16px
							padding: 20px .78125vw 19px
							&__date
								color: $grey
								font-weight: 500
								line-height: 19px
							&__title
								font-weight: 600
								line-height: 24px
								overflow: hidden
								white-space: nowrap
								text-overflow: ellipsis
						&-button
							position: absolute
							top: 40.93618%
							right: 5.4423%
							display: flex
							align-items: center
							justify-content: center
							width: 35px
							height: 35px
							border-radius: 50%
							background-color: $white
			.about
				justify-content: space-between
				height: 493px
				background: linear-gradient(266deg, #D6DDF5 -1.62%, #D8CCFA 105.07%)
				padding: 55px 2.8125vw
				&-content
					display: grid
					grid-gap: 35px
					&__title
						font-weight: 700
						margin-bottom: 1px
					&__text
						width: 28.69792vw
						&:last-child
							width: 23.80208vw
				&-image
					width: 19.94792vw
					border-radius: 16px
	&.hostels
		margin: 60px 0 176px
		.image
			width: 100%
			height: 426px
			border-radius: 16px
			margin: 46px 0 32px
		.galery
			gap: 16px
			margin-bottom: 40px
			&-image
				width: 88px
				height: 72px
				border-radius: 16px
		.content
			gap: 33px
			.left
				border-top: 1px solid $grey-secondary
				padding-top: 39px
				.title
					gap: 15px
				.includes
					gap: 22px
					margin: 24px 0 40px
					&-item
						gap: 8px
				.text
					font-size: 18px
				.special
					list-style-type: disc
					margin-left: 16px
			.right
				min-width: 175px
				.price-description
					text-align: right
				.button
					margin-top: 26px
	&.filter
		margin: 38px 0 94px
		.content
			justify-content: space-between
			margin-top: 33px
			&-left
				width: 14.6875vw
				.filter
					border: 1px solid $grey-secondary
					border-radius: 16px
					padding: 16px .83333vw
					&-title
						font-weight: 600
						line-height: 36px
					&-content
						margin-top: 23.5px
						padding-top: 23.5px
						border-top: 1px solid $grey
						.title
							font-size: 18px
							line-height: 22px
						.subtitle
							line-height: 19.2px
							color: $grey
							margin-top: 8px
						&.non
							border-top: none
							margin-top: 32px
							padding-top: 0
						.price
							position: relative
							box-sizing: border-box
							width: 100%
							&-field
								padding: 46px 0 30px
							&-range
								gap: .52083vw
								&__input
									position: relative
									width: 6.25vw
									input,
									p
										font-size: 18px
									input
										width: 100%
										border-radius: 8px
										border: 1px solid $grey
										padding: 8px .52083vw 8px 1.875vw
									p
										position: absolute
										top: 50%
										left: .52083vw
										transform: translate(0%, -50%)
										color: #BFBEBC
							input[type=range]
								position: absolute
								width: 100%
								height: 2px
								border: 1px solid #EDEDED
								outline: 0
								box-sizing: border-box
								border-radius: 5px
								-webkit-appearance: none
								&::-webkit-slider-thumb
									position: relative
									width: 16px
									height: 16px
									-webkit-appearance: none
									border-radius: 50%
									background-color: $accent
									cursor: pointer
									z-index: 3
						.filter_ch
							display: grid
							grid-gap: 12px
							margin-top: 20px
							&-item
								justify-content: space-between
								&__field
									gap: 0.625vw
									.input
										width: 24px
										height: 24px
										accent-color: $accent
									.text
										font-size: 15px
										font-weight: 500
					.button
						margin-top: 32px
			&-right
				width: 47.1875vw
				&__header
					justify-content: space-between
					margin-bottom: 32px
					.search_result
						gap: 0.26042vw
					.sorting
						gap: .4166667vw
						height: 44px
						border-radius: 8px
						border: 1px solid $grey-secondary
						padding: 4px .52083vw
				&__body
					display: flex
					flex-direction: column
					gap: 18px
					.card
						gap: 1.25vw
						height: 225px
						border-radius: 16px
						background: $white
						box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .15)
						&-image
							width: 11.71875vw
							border-radius: 16px
						&-info,
						&-action
							margin: 12.5px 0
						&-info
							display: flex
							flex-direction: column
							gap: 16px
							width: 21.7709vw
							&__header
								justify-content: space-between
								.name
									overflow: hidden
									white-space: nowrap
									text-overflow: ellipsis
									font-weight: 600
							&__locations
								gap: .83333vw
								.text
									color: $grey
								.btn
									text-decoration: underline
							&__reviews
								gap: .4166667vw
								.text
									font-size: 18px
								.text2
									font-weight: 600
							&__features
								flex-wrap: wrap
								gap: 4px .4166667vw
								.text
									color: $grey
						&-action
							display: flex
							flex-direction: column
							justify-content: space-between
							width: 10.3646vw
							padding-left: 3.38542vw
							margin-right: .83333vw
							border-left: 1px solid #E3E3E3
				&__pagination
					gap: 0.8333vw
					margin-top: 46px
					height: 24px
					.icon,
					.pagination
						height: 100%
					.icon,
					.pagination-element
						width: 24px
					.pagination-element
						display: flex
						align-items: center
						justify-content: center
						height: 100%
						border-radius: 4px
						&.active
							background-color: $accent
							.text
								color: $white					
		.info
			display: grid
			grid-gap: 32px
			margin-top: 112px
			&-title
				font-size: 39px
				color: $dark
			&-text
				font-size: 24px
			&-list
				list-style: disc
				margin-top: -32px
				padding-left: .75vw
	&.detail
		margin: 60px 0 150px
		.head
			display: grid
			grid-gap: 24px
			margin: 32px 0
			&-top
				gap: 55px
				.title
					line-height: 39px
				.block
					gap: 35px
					height: 24px
					&-icon
						gap: 12px
			&-bottom
				justify-content: space-between
				.type-name
					font-size: 20px
					font-weight: 600
					color: $accent
					margin-bottom: 4px
				.reviews
					&-title
						font-weight: 600
					&-text
						font-size: 14px
					&-rating
						display: flex
						align-items: center
						justify-content: center
						width: 36px
						height: 32px
						border-radius: 8px
						background-color: $accent
						margin-left: .625vw
						&__text
							color: $white
		.galery
			gap: 1.5625vw
			&-main,
			&-secondary
				width: 30.9375vw
			&-main
				height: 426px
			&-secondary
				display: flex
				flex-wrap: wrap
				grid-gap: 30px 1.5625vw
				.frame
					width: 14.6875vw
					height: 198px
			&-main,
			.frame
				border-radius: 16px
				overflow: hidden
				img
					width: 100%
					height: 100%
		.info
			justify-content: space-between
			margin-top: 65px
			&-left
				display: grid
				grid-gap: 80px
				width: 47.1875vw
				.description,
				.variant
					&-title
						margin-bottom: 24px
				.useful
					&-title
						margin-bottom: 40px
					&-content
						justify-content: space-between
						.block
							display: grid
							grid-gap: 20px
							width: 23.64584vw
							border-radius: 16px
							background: #EEE
							padding: 24px 1.25vw
							&:last-child
								width: 21.97917vw
				.variant-content
					display: grid
					grid-gap: 24px
					.card
						gap: 1.5625vw
						height: 318px
						border: 1px solid $grey-bg
						border-radius: 16px
						padding: 16px .83333vw
						&-carousel
							display: flex
							flex-direction: column
							justify-content: space-between
							width: 14.6875vw
							.image
								border-radius: 16px
							.main_image,
							.mini_images
								width: 100%
							.main_image
								height: 198px
							.mini_images
								gap: 9px
								overflow: scroll
								.image
									width: 88px
									height: 72px
						&-content
							width: 29.27083vw
							.title
								font-weight: 600
								margin-bottom: 20px
							.list
								gap: 1.14583vw
							.bottom
								justify-content: space-between
								border-top: 1px solid $grey-secondary
								margin-top: 39.5px
								padding-top: 39.5px
								&-left
									display: flex
									flex-direction: column
									gap: 8px
									.text
										font-size: 18px
										font-weight: 600
									.btn
										color: $accent
										text-decoration: underline
								&-right .button
									margin-top: 26px
			&-right
				display: flex
				flex-direction: column
				gap: 48px
				width: 14.6875vw
				.title
					line-height: 24px
				.text
					line-height: 19px
				.advantages,
				.contacts
					background-color: #F0F0F0
					border-radius: 16px
				.advantages
					padding: 20px 1.04167vw 19px
					.col
						display: grid
						grid-gap: 8px
						.big
							gap: .104167vw
							margin-top: 16px
						.small
							gap: .4166667vw
					.button
						margin-top: 20px
				.locations
					position: relative
					display: grid
					grid-gap: 17px
					&-map
						width: 100%
						height: 387px
					&-popup
						position: absolute
						bottom: 20%
						left: 10.33%
						width: 7.70833vw
						height: 74px
						background-color: $white
						border-radius: 10px
						box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .25)
						padding: 8px .52083vw
						.name
							font-weight: 600
							margin-bottom: 11px
						.horizontal
							justify-content: space-between
							.rating
								width: 1.71875vw
								height: 28px
								background-color: $accent
								padding: 2px .3125vw
								&-text
									color: $white
							.review
								font-size: 14px
								gap: 0.104167vw
								span
									font-weight: 600
				.contacts
					display: grid
					grid-gap: 16px
					padding: 20px 1.04167vw 46px
					.title
						font-weight: 500
					.text span
						font-weight: 700
			.reviews,
			.popular
				margin-top: 80px
		.popular-content__body
			margin-top: 24px

.breadcrumbs
	gap: .52083vw
	margin-bottom: 32px
	&-item
		gap: 10px
		.text
			font-family: $secondary-font
			font-size: 14px
			font-weight: 400
			color: $breadcrumbs
		&:last-child .text
			color: $accent

.button
	display: flex
	align-items: center
	justify-content: center
	gap: .4166667vw
	width: auto
	height: 48px
	padding: 14px 1.666667vw
	border-radius: 4px
	background-color: $accent
	cursor: pointer
	&-text
		font-family: $secondary-font
		color: $white
	&:hover
		background-color: #012657
	&:active
		background-color: #3347B4
	&.disabled
		background-color: #F1F0ED
		.button-text
			color: #BFBEBC
	&:focus
		background-color: #0A3062

.search
	position: relative
	display: flex
	align-items: start
	gap: 8px
	height: 72px
	background-color: $white
	border-radius: 8px
	padding: 8px
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15)
	&-icon
		position: absolute
		left: 28px
	&-text
		width: 77%
		padding: 15px 20px 15px 54px
		background-color: #F7F7FD
		border-radius: 4px
		&::placeholder
			color: $grey
	.button
		width: 20.7%
		&-text
			font-size: 20px

.rating
	width: max-content
	gap: .3125vw
	padding: 4px .20833vw
	border-radius: 8px
	background-color: $grey-bg
	&-text
		color: #656565

.price
	gap: 5px
	justify-content: end
	&-text
		font-weight: 700
		line-height: 29px
	&-description
		color: $grey
		line-height: 19px

.location
	gap: .36453vw
	&-text
		color: $grey

.reviews
	&-header
		justify-content: space-between
		&__icons
			gap: .4166667vw
			.icon
				display: flex
				align-items: center
				justify-content: center
				width: 3.28125vw
				height: 43px
				border-radius: 8px
				background-color: #ECECEC
				&:first-child
					transform: rotate(180deg)
	&-content
		gap: 1.5625vw
		margin-top: 40px
		.review
			position: relative
			display: grid
			grid-gap: 23px
			width: 20.10467vw
			padding: 15px .78125vw
			border: 1px solid $grey
			border-radius: 8px
			&-button
				position: absolute
				top: 16px
				right: .83333vw
			&-title
				font-weight: 500
			&-text
				font-size: 18px
				line-height: 21.6px
				white-space: pre-line
				overflow: hidden
				text-overflow: ellipsis
				display: -webkit-box
				-webkit-line-clamp: 2
				-webkit-box-orient: vertical
			&-footer
				justify-content: space-between
				&__author,
				&__time
					gap: .4166667vw
				&__author,
				&__time
					.text
						color: $grey
				&__time .dot
					font-weight: 300
					color: $grey-secondary

.popular-content
	display: grid
	grid-gap: 50px
	&__header
		margin-bottom: 12px
		.icon
			padding: 15px 22.5px
	&__body
		gap: 1.5625vw
		.card
			width: 14.6875vw
			height: 286px
			border: 1px solid $grey-secondary
			border-radius: 16px
			&-image
				width: 100%
				height: 158px
				border-radius: 16px
				overflow: hidden
				img
					width: 100%
					height: 100%
			&-content
				position: relative
				height: 110px
				margin-top: 16px
				margin-left: .36458vw
				&__title
					white-space: pre-line
					overflow: hidden
					text-overflow: ellipsis
					display: -webkit-box
					-webkit-line-clamp: 1
					-webkit-box-orient: vertical
					font-size: 18px
					font-weight: 500
					margin-bottom: 8px
				&__location,
				&__price,
				&__rating
					display: flex
					align-items: center
				&__location
					gap: .36458vw
					.text
						color: $grey
				&__price,
				&__rating
					position: absolute
				&__price
					bottom: 8.1819%
					left: 0
					gap: .26042vw
				&__rating
					bottom: 5.4547%
					right: 2.56441%
					gap: .3125vw
					padding: 4px .20833vw
					.text
						color: #656565

.modal
	display: none
	&.show
		display: block
	&-background,
	&-content
		position: fixed
	&-background 
		z-index: 3
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .3)
	&-content
		z-index: 4
		top: 50%
		left: 50%
		display: flex
		flex-direction: column
		gap: 29px
		width: 39.27083vw
		transform: translate(-50%, -50%)
		padding: 35px 2.08333vw 35.51px
		border-radius: 16px
		background-color: $white
		.btn
			position: absolute
			top: 10.5px
			right: .546875vw
		.name
			line-height: 36px
			text-overflow: ellipsis
		.galery,
		.more,
		.rating
			display: flex
		.galery
			justify-content: space-between
			height: 125.5px
			&-image
				width: 11.04167vw
				height: 100%
				border-radius: 10.141px
		.more
			align-items: center
			gap: .4166667vw
			&-text
				line-height: 36px
		.info
			display: flex
			flex-direction: column
			gap: 23px
			.rating
				align-items: center
				gap: .3125vw
				width: max-content
				height: 32px
				padding: 4px .20833vw
				border-radius: 8px
				background-color: $grey-bg
				&-text
					line-height: 24px
					color: #656565
			.description
				font-size: 18px
				line-height: 22px
			.bottom
				display: flex
				justify-content: space-between
				.user,
				.date
					display: flex
					align-items: center
					gap: .4166667vw
				.text
					line-height: 19px
					color: $grey
				.date-dot
					font-weight: 300
					color: $grey-secondary

.main
	&.interestings
		margin: 60px 0 188px
		.content
			display: flex
			flex-wrap: wrap
			gap: 32px 1.5625vw

.blog
	position: relative
	width: 20.104167vw
	&-image
		width: 100%
		height: 197px
		border-radius: 16px 16px 0 0
	&-info
		height: 143px
		border-right: 1px solid $grey-secondary
		border-bottom: 1px solid $grey-secondary
		border-left: 1px solid $grey-secondary
		border-radius: 0px 0px 16px 16px
		padding: 20px .78125vw 19px
		&__date
			color: $grey
			font-weight: 500
			line-height: 19px
			margin-bottom: 12px
		&__text
			font-weight: 600
			line-height: 24px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			max-height: 3em
		&-button
			position: absolute
			top: 40.93618%
			right: 5.4423%
			display: flex
			align-items: center
			justify-content: center
			width: 35px
			height: 35px
			border-radius: 50%
			background-color: $white

@import media
