<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>QazBooking</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="css/main.min.css">
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="container">
			<div class="header-wrap">
				<div class="rows h-row">
					<img
						src="assets/images/logo.png"
						alt="QazBooking"
						class="logo"
					/>

					<div class="location rows h-row">
						<div class="icon">
							<img src="assets/icons/location.svg" alt="location" />
						</div>
						<p class="text">Алматы</p>
					</div>

					<div class="information rows h-row">
						<a href="interestings.html" class="text">Интересное</a>
						<div class="social rows">
							<a href="#" class="icon">
								<img src="assets/icons/facebook.svg" alt="facebook" />
							</a>
							<a href="#" class="icon">
								<img src="assets/icons/instagram.svg" alt="instagram" />
							</a>
						</div>
					</div>

					<button class="button" type="submit">
						<img src="assets/icons/auth.svg" alt="auth" class="icon" />
						<p class="button-text">Войти</p>
					</button>
				</div>

				<div class="menu rows">
					<a href="filter.html" class="text">Хостелы</a>
					<a href="filter.html" class="text">Базы отдыха</a>
					<a href="filter.html" class="text">Активный отдых</a>
					<a href="filter.html" class="text">Туры</a>
					<a href="filter.html" class="text">Оздоровительный отдых</a>
					<a href="filter.html" class="text">Детские лагеря</a>
					<a href="filter.html" class="text">Транспорт</a>
				</div>
			</div>
		</div>
	</header>

	<main class="home main">
		<div class="container">
			<section class="hero">
				<img src="assets/images/hero.jpg" alt="Hero image" class="Hero image" />

				<div class="hero-content">
					<div class="box">
						<h1 class="title">Лучшие места для вашего отдыха</h2>
						<h5 class="text">Поиск предложений на отели, дома и многое другое…</h5>
					</div>

					<div class="search">
						<img src="assets/icons/search.svg" alt="Search" class="search-icon" />
						<input
							type="text"
							placeholder="Ключевое слово"
							class="search-text"
						/>
						<button class="button" type="submit">
							<div class="button-text">Поиск</div>
						</button>
					</div>
				</div>
			</section>

			<section class="category">
				<h3 class="section-title">Категории</h3>

				<div class="category-content rows">
					<div class="block">
						<a href="filter.html" class="block-item blue">
							<img src="assets/icons/categories/hotel.svg" alt="Hostels" />
						</a>
						<p class="block-text">Хостелы</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item green">
							<img src="assets/icons/categories/house.svg" alt="Базы отдыха" />
						</a>
						<p class="block-text">Базы отдыха</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item orange">
							<img src="assets/icons/categories/motorbike.svg" alt="Активный отдых" />
						</a>
						<p class="block-text">Активный отдых</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item red">
							<img src="assets/icons/categories/child.svg" alt="Детские лагеря" />
						</a>
						<p class="block-text">Детские лагеря</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item yellow">
							<img src="assets/icons/categories/beach.svg" alt="Tours" />
						</a>
						<p class="block-text">Туры</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item ping">
							<img src="assets/icons/categories/activity-heart.svg" alt="Оздоровительный отдых" />
						</a>
						<p class="block-text">Оздоровительный отдых</p>
					</div>

					<div class="block">
						<a href="filter.html" class="block-item purple">
							<img src="assets/icons/categories/airplane.svg" alt="Transport" />
						</a>
						<p class="block-text">Транспорт</p>
					</div>
				</div>
			</section>

			<section class="popular">
				<h3>Популярные места</h3>

				<div class="popular-content">
					<div>
						<div class="popular-content__header rows h-row">
							<h4>Хостелы</h4>
							<a href="filter.html">
								<img
									src="assets/icons/chevron.svg"
									alt="right arrow"
									class="icon"
								/>
							</a>
						</div>

						<div class="popular-content__body rows">
							<div class="card">
								<div class="card-image">
									<img src="assets/images/hostel1.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/hostel2.jpeg" alt="Hostel" />
								</div>

							<div class="card-content">
								<a href="detail.html">
									<p class="card-content__title">Grand hostel</p>
								</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
							
							<div class="card">
								<div class="card-image">
									<img src="assets/images/hostel3.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/hostel4.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<div class="popular-content__header rows h-row">
							<h4>Туры</h4>
							<a href="filter.html">
								<img
									src="assets/icons/chevron.svg"
									alt="right arrow"
									class="icon"
								/>
							</a>
						</div>

						<div class="popular-content__body rows">
							<div class="card">
								<div class="card-image">
									<img src="assets/images/tour1.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/tour2.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
							
							<div class="card">
								<div class="card-image">
									<img src="assets/images/tour3.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/tour4.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<div class="popular-content__header rows h-row">
							<h4>Базы отдыха</h4>
							<a href="filter.html">
								<img
									src="assets/icons/chevron.svg"
									alt="right arrow"
									class="icon"
								/>
							</a>
						</div>

						<div class="popular-content__body rows">
							<div class="card">
								<div class="card-image">
									<img src="assets/images/recreation_center1.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/recreation_center2.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
							
							<div class="card">
								<div class="card-image">
									<img src="assets/images/recreation_center3.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/recreation_center4.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div>
						<div class="popular-content__header rows h-row">
							<h4>Досуг/Развлечения</h4>
							<a href="filter.html">
								<img
									src="assets/icons/chevron.svg"
									alt="right arrow"
									class="icon"
								/>
							</a>
						</div>

						<div class="popular-content__body rows">
							<div class="card">
								<div class="card-image">
									<img src="assets/images/leisure_entertainment1.png" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/leisure_entertainment2.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
							
							<div class="card">
								<div class="card-image">
									<img src="assets/images/leisure_entertainment3.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-image">
									<img src="assets/images/leisure_entertainment4.jpeg" alt="Hostel" />
								</div>

								<div class="card-content">
									<a href="detail.html">
										<p class="card-content__title">Grand hostel</p>
									</a>

									<div class="card-content__location rows h-row">
										<img src="assets/icons/location2.svg" alt="location" />
										<p class="text">Алматинская обл.</p>
									</div>

									<div class="card-content__price">
										<p class="text">от</p>
										<h4>2500</h4>
										<img src="assets/icons/currency.svg" alt="tenge" />
									</div>

									<div class="card-content__rating">
										<p class="text">9.6 </p>
										<img src="assets/icons/rating/fifth.svg" alt="Rating" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="reviews">
				<div class="reviews-header rows h-row">
					<h3>Отзывы гостей</h3>
					<div class="reviews-header__icons rows">
						<div class="icon btn">
							<img src="assets/icons/chevron.svg" alt="back" />
						</div>
						<div class="icon btn">
							<img src="assets/icons/chevron.svg" alt="next" />
						</div>
					</div>
				</div>
				<div class="reviews-content rows">
					<div class="review">
						<img
							src="assets/icons/hdots.svg"
							alt="more"
							class="review-button btn"
							onclick="openModal()"
						/>
						<h6 class="review-title">Хостел Арлеон</h6>
				
						<div class="rating rows h-row">
							<p class="rating-text">9.8</p>
							<img src="assets/icons/rating/fifth.svg" alt="Rating" />
						</div>
				
						<p class="review-text">Нет слов, чтобы описать. Одно из лучших мест, в котором я когда-либо останавливался... и лучшие хозяева, которых я когда-либо встречал...</p>
				
						<div class="review-footer rows h-row">
							<div class="review-footer__author rows h-row">
								<img src="assets/icons/user.svg" alt="user" class="icon" />
								<p class="text">Емиль Газизов</p>
							</div>
							
							<div class="review-footer__time rows h-row">
								<p class="text">14:56</p>
								<p class="dot">●</p>
								<p class="text">10.11.2023</p>
							</div>
						</div>
					</div>

					<div class="review">
						<img
							src="assets/icons/hdots.svg"
							alt="more"
							class="review-button btn"
							onclick="openModal()"
						/>
						<h6 class="review-title">Зона отдыха Оазис</h6>
				
						<div class="rating rows h-row">
							<p class="rating-text">8.1</p>
							<img src="assets/icons/rating/fourth.svg" alt="Rating" />
						</div>
				
						<p class="review-text">Нет слов, чтобы описать. Одно из лучших мест, в котором я когда-либо останавливался... и лучшие хозяева, которых я когда-либо встречал...</p>
				
						<div class="review-footer rows h-row">
							<div class="review-footer__author rows h-row">
								<img src="assets/icons/user.svg" alt="user" class="icon" />
								<p class="text">Матвей Радужнев</p>
							</div>
							
							<div class="review-footer__time rows h-row">
								<p class="text">14:56</p>
								<p class="dot">●</p>
								<p class="text">10.11.2023</p>
							</div>
						</div>
					</div>

					<div class="review">
						<img
							src="assets/icons/hdots.svg"
							alt="more"
							class="review-button btn"
							onclick="openModal()"
						/>
						<h6 class="review-title">Хостел Арион</h6>
				
						<div class="rating rows h-row">
							<p class="rating-text">9.8</p>
							<img src="assets/icons/rating/fifth.svg" alt="Rating" />
						</div>
				
						<p class="review-text">Нет слов, чтобы описать. Одно из лучших мест, в котором я когда-либо останавливался... и лучшие хозяева, которых я когда-либо встречал...</p>
				
						<div class="review-footer rows h-row">
							<div class="review-footer__author rows h-row">
								<img src="assets/icons/user.svg" alt="user" class="icon" />
								<p class="text">Амир Ванев</p>
							</div>
							
							<div class="review-footer__time rows h-row">
								<p class="text">14:56</p>
								<p class="dot">●</p>
								<p class="text">10.11.2023</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="seo">
				<h6 class="seo-subtitle">Тур по Казахстану</h6>
				<h3 class="seo-title">Откройте Новые Грани Путешествий</h3>
				<h6 class="seo-content">Погрузитесь в удивительный мир путешествий с турами по Казахстану от QazBooking! Наша компания предлагает вам уникальную возможность открыть для себя неизведанные уголки этой невероятной страны. Отдых в Казахстане с нами — это не только возможность отдохнуть, но и увидеть самые захватывающие места, окунуться в богатую культуру и насладиться гостеприимством этой удивительной страны.</h6>

				<div class="seo-content">
					<div class="box red">
						<h4 class="title">Гибкая оплата</h4>
						<p class="text">Удобная навигация, яркий дизайн и информативный контент: Интуитивно понятный интерфейс сайта или приложения,</p>
					</div>

					<div class="box yellow">
						<h4 class="title">Доступ к отзывам и рейтингам</h4>
						<p class="text">Удобная навигация, яркий дизайн и информативный контент: Интуитивно понятный интерфейс сайта или приложения,</p>
					</div>

					<div class="box blue">
						<h4 class="title">Персонализация</h4>
						<p class="text">Удобная навигация, яркий дизайн и информативный контент: Интуитивно понятный интерфейс сайта или приложения,</p>
					</div>

					<div class="box green">
						<h4 class="title">Быстрый доступ к информации</h4>
						<p class="text">Удобная навигация, яркий дизайн и информативный контент: Интуитивно понятный интерфейс сайта или приложения,</p>
					</div>
				</div>
			</section>
			
			<section class="blogs">
				<div class="blogs-header rows">
					<h3>Интересное</h3>
					<a class="btn rows h-row">
						<h6>Читать все</h6>
						<img src="assets/icons/chevron.svg" alt="right arrow" />
					</a>
				</div>

				<div class="blogs-content rows">
					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog1.jpeg" alt="Blog 1" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">12.05.2023</p>
							<h4 class="blog-content__title">Отдохни сегодня - заплати завтра: туры в кредит под 1%</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>

					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog2.jpeg" alt="Blog 2" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">23.12.2023</p>
							<h4 class="blog-content__title">Канада: бесплатные обзорные экскурсии</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>

					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog3.jpeg" alt="Blog 3" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">12.05.2023</p>
							<h4 class="blog-content__title">Иордания: романтический ужин в подарок от отеля Movenpick Resort&Spa</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>

					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog4.jpeg" alt="Blog 4" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">12.05.2023</p>
							<h4 class="blog-content__title">Отдохни сегодня - заплати завтра: туры в кредит под 1%</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>

					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog5.jpeg" alt="Blog 5" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">23.12.2023</p>
							<h4 class="blog-content__title">Канада: бесплатные обзорные экскурсии</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>

					<div class="blog">
						<div class="blog-image">
							<img src="assets/images/blog6.jpeg" alt="Blog 6" />
						</div>
						
						<div class="blog-content">
							<p class="blog-content__date">12.05.2023</p>
							<h4 class="blog-content__title">Иордания: романтический ужин в подарок от отеля Movenpick Resort&Spa</h4>
						</div>
				
						<a
							v-if="button"
							class="blog-button btn"
							@click="redirectToBlog(info.id)"
						>
							<img src="assets/icons/chevron.svg" alt="right arrow" />
						</a>
					</div>
				</div>
			</section>

			<section class='about rows'>
				<div class='about-content'>
					<h3 class='about-content__title'>Qazbooking.kz</h3>
					<p class='about-content__text'>Это сервис онлайн бронирования хостелов и баз отдыха. С его помощью можно легко и удобно запланировать своё путешествие в пару кликов. Не придётся много раз звонить, если линии заняты, или долго ожидать ответа в WhatsApp. Бронирование проходит в онлайн режиме.</p>
					<p class='about-content__text'>На Qazbooking.kz собрано большое количество хостелов Алматы, Астаны, Актау, Караганды, Талгара, Уральска и других городов Казахстан</p>
				</div>
				<img
					src='assets/images/about.jpg'
					alt='home image'
					class='about-image'
				/>
			</section>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container">
			<div class="footer-wrap">
				<div class="rows">
					<img src="assets/images/logo-white.png" alt="QazBooking" />
				</div>

				<div class="rows">
					<nav class="menu">
						<a href="filter.html" class="text">Хостелы</a>
						<a href="filter.html" class="text">Базы отдыха</a>
						<a href="filter.html" class="text">Активный отдых</a>
						<a href="filter.html" class="text">Туры</a>
						<a href="filter.html" class="text">Оздоровительный отдых</a>
						<a href="filter.html" class="text">Детские лагеря</a>
						<a href="filter.html" class="text">Транспорт</a>
					</nav>

					<nav class="menu">
						<a href="#" class="text">О нас</a>
						<a href="interestings.html" class="text">Интересное</a>
						<a href="#" class="text">Контакты</a>
						<a href="#" class="text">FAQ</a>
						<a href="#" class="text">Наши партнеры</a>
						<a href="#" class="text">Служба поддержки</a>
						<a href="#" class="text">Договор оферты</a>
						<a href="#" class="text">Политика конфиденциальности</a>
					</nav>

					<div class="right">
						<div>
							<h5 class="text">Мы в социальных сетях</h5>
							<div class="social rows">
								<a href="#">
									<img src="assets/icons/facebook-white.svg" alt="facebook" />
								</a>
								<a href="#">
									<img src="assets/icons/instagram-white.svg" alt="instagram" />
								</a>
							</div>
						</div>

						<div class="zerone rows h-row">
							<p class="text">Разработка сайта — <a href="https://zeronetech.kz" tabindex="_blank" class="text">Zerone Technology</a></p>
							<img
								src="https://zeronetech.kz/zerone-min-logo.svg"
								width="36"
								height="38"
								alt="Zerone Technology"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- MODAL -->
	<div id="modal" class="modal">
		<div class="modal-background" onclick="closeModal()"></div>
		<div class="modal-content">
			<img
				src="assets/icons/close.svg"
				alt="close"
				class="btn"
				onclick="closeModal()"
			/>

			<h5 class="name">Хостел Арлеон</h5>

			<div class="galery">
				<img
					src="assets/images/arleon2.png"
					alt="Hostel 2"
					class="galery-image"
				/>
				<img
					src="assets/images/arleon3.png"
					alt="Hostel 3"
					class="galery-image"
				/>
				<img
					src="assets/images/arleon4.png"
					alt="Hostel 4"
					class="galery-image"
				/>
			</div>

			<a href="hostels.html" class="more">
				<h6 class="more-text">Посмотреть место</h6>
				<img src="assets/icons/chevron.svg" alt="chevron" />
			</a>

			<div class="info">
				<div class="rating">
					<p class="rating-text">9.6</p>
					<img src="assets/icons/rating/fifth.svg" alt="rating" />
				</div>
				
				<p class="description text">Нет слов, чтобы описать. Одно из лучших мест, в котором я когда-либо останавливался... и лучшие хозяева, которых я когда-либо встречал за последнее время, персонал очень отзывчивый. По запросу предоставили дополнительный комплект полотенец и тапочек</p>
				
				<div class="bottom">
					<div class="user">
						<img src="assets/icons/user.svg" alt="user" />
						<p class="text">Емиль Газизов</p>
					</div>
					<div class="date">
						<p class="text">14:56</p>
						<p class="date-dot text">•</p>
						<p class="text">10.11.2023</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/scripts.min.js"></script>
	<script src="libs/owlcarousel/owl.carousel.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
